@use 'color';
@use "sass:math";

@keyframes sparkle {
    0%  { filter: drop-shadow(0 0 0.25em #fff1); }
    10%  { filter: drop-shadow(0 0 0.5em #fff5); }
    20%  { filter: drop-shadow(0 0 0.6em #fff7); }
    30%  { filter: drop-shadow(0 0 0.7em #fff9); }
    40%  { filter: drop-shadow(0 0 0.8em #fffb); }
    50%  { filter: drop-shadow(0 0 0.9em #fffd); }
    60%  { filter: drop-shadow(0 0 1em #ffff); }
    70%  { fill: var(--fill); }
    73%  { fill: var(--sparkle-color); opacity: 1; }
    76%  { fill: var(--fill); }
    79%  { fill: var(--sparkle-color); opacity: 1; }
    82%  { fill: var(--fill); }
    85%  { fill: var(--sparkle-color); opacity: 1; }
    88%  { fill: var(--fill); }
    91%  { fill: var(--sparkle-color); opacity: 1; }
    94%  { fill: var(--fill); }
    97%  { fill: var(--sparkle-color); opacity: 1; }
    100%  { fill: var(--fill); }
}


.sauce-map-container {
    --transform-duration: 500ms;
    --transform-origin-duration: 500ms;
    font-variant-numeric: tabular-nums;
    overflow: hidden;
    position: relative;
    touch-action: none;  // disable native touch handling on mobile devices.
    cursor: pointer;

    &.moving {
        cursor: move;
    }

    &.zooming {
        --transform-duration: 50ms;
        --transform-origin-duration: 50ms;
        /** {
            transition-duration: 0ms !important;
        }*/
    }

    &.hidden,
    &.no-animation,
    &.loading,
    &.moving {
        --transform-duration: 0;
        --transform-origin-duration: 0;
    }

    &.hidden,
    &.no-animation,
    &.loading {
        svg.entities .athlete {
            transition: none !important;
        }
    }

    &.tilt-shift .sauce-map {
        &,
        .dots,
        .dot {
            //transform-style: preserve-3d;
        }

        .dot .pin-wrap {
            //perspective: calc((1 / var(--zoom)) * 800px);
            //rotate: x calc(-1 * var(--zoom) * var(--tilt-shift-angle));
        }
    }

    &.sparkle .sauce-map svg.entities {
        .entity.athlete[data-power-level="z4"],
        .entity.athlete[data-power-level="z5"],
        .entity.athlete[data-power-level="z6"] {
            animation: sparkle 2400ms infinite steps(5);
        }
    }

    > .sauce-map {
        --anchor-x: 0px;
        --anchor-y: 0px;
        --layer-scale: 1;
        --heading: 0deg;
        touch-action: none;  // disable native touch handling on mobile devices.
        position: absolute;
        transition:
            transform var(--transform-duration),
            transform-origin var(--transform-origin-duration);
        transition-timing-function: linear;
        left: 50%;
        top: 50%;

        > .dots {
            .dot {
                --zone: 0;
                --priority: 0;
                --size: 3;
                --border-size: 1;
                --zoom-size: calc((var(--size) + (var(--size) * (1 / var(--zoom)))) * 1px);
                --zoom-border-size: calc((var(--border-size) + (var(--border-size) * (1 / var(--zoom)))) * 1px);
                z-index: calc(var(--zone) + var(--priority));
                box-sizing: content-box;
                animation-timing-function: linear;
                position: absolute;
                border-radius: 50%;
                border: var(--zoom-border-size) solid #5a94ff;
                width: var(--zoom-size);
                height: var(--zoom-size);
                left: calc(-0.5 * (var(--zoom-size) + (var(--zoom-border-size) * 2)));
                top: calc(-0.5 * (var(--zoom-size) + (var(--zoom-border-size) * 2)));
                transform: translate(var(--x), var(--y));
                background-color: #fffa;
                transition: transform;
                transition-duration: 1100ms;
                transition-timing-function: linear;
                cursor: pointer;
                opacity: 0.8;
                // For the pin positioning we need flex...
                display: flex;
                justify-content: center;

                &.fast {
                    transition-duration: 300ms;
                }
                &.slow {
                    transition-duration: 2100ms;
                }

                .pin-wrap {
                    $carrot-width: 1em;
                    $carrot-height: 1em;
                    $border-color: #fff;
                    $border-size: 0.3em;
                    $bg-color: #1a57a0;
                    min-width: 3em;
                    min-height: 3em;
                    z-index: calc(var(--zone) + var(--priority) + 1000);
                    font-size: calc(0.5em / var(--zoom));
                    color: #fff;
                    background-color: $bg-color;
                    border: $border-size solid $border-color;
                    border-radius: 0.5em;
                    position: absolute;
                    bottom: calc(100% - var(--zoom-size) / 2);
                    transform:
                        rotate(calc(-1 * var(--heading)))
                        translateY(calc(-1 * (var(--zoom-size) + $carrot-height)));
                    transform-origin: 50% 100%;
                    transition: transform 1s linear;
                    max-width: 14em;

                    &::before {
                        content: '';
                        width: 0;
                        height: 0;
                        position: absolute;
                        border-left: $carrot-width solid transparent;
                        border-right: $carrot-width solid transparent;
                        border-top: $carrot-height solid $border-color;
                        border-bottom: none;
                        right: calc(50% - $carrot-width);
                        top: 100%;
                    }
                    &::after {
                        content: '';
                        width: 0;
                        height: 0;
                        position: absolute;
                        border-left: $carrot-width solid transparent;
                        border-right: $carrot-width solid transparent;
                        border-top: $carrot-height solid $bg-color;
                        border-bottom: none;
                        right: calc(50% - $carrot-width);
                        top: calc(100% - math.sqrt(math.pow(math.div($border-size, 1em), 2) * 2) * 1em);
                    }
                }

                .pin {
                    padding: 0.5em;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                &:not(.pinned) .pin-wrap {
                    display: none;
                }
            }
        }

        > svg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        > svg.entities {
            font-size: calc(4px + ((1 / var(--zoom)) * 5px));
            contain: strict; // micro opt

            circle.athlete {
                $size: 1em;
                $border-size: 0.333333em;
                content-visibility: hidden; // micro opt (see ^^^ contain)
                --fill: #fffa;
                fill: var(--fill);
                stroke: #5a94ff;
                stroke-width: $border-size;
                opacity: 0.8;
                transition: transform;
                transition-duration: 1100ms;
                transition-timing-function: linear;

                &.fast {
                    transition-duration: 300ms;
                }
                &.slow {
                    transition-duration: 2100ms;
                }

                &[data-power-level="z4"] {
                    --sparkle-color: #fff9;
                }
                &[data-power-level="z5"] {
                    --sparkle-color: #dfb1a891;
                }
                &[data-power-level="z6"] {
                    --sparkle-color: #ae45da91;
                }

                &.following {
                    font-size: $size * 1.3;
                    stroke-width: $border-size * 1.5;
                    --fill: color.get(marked, 0.8);
                    stroke: color.shade(marked, 100%);
                }

                &.marked {
                    font-size: $size * 1.3;
                    stroke-width: $border-size * 1.5;
                    --fill: color.get(marked, 0.8);
                    stroke: color.shade(marked, 100%);
                }

                &.sweeper {
                    font-size: $size * 1.2;
                    stroke-width: $border-size * 1.25;
                    --fill: #f1262675;
                    stroke: #dc3c10cc;
                }

                &.leader {
                    font-size: $size * 1.2;
                    stroke-width: $border-size * 1.25;
                    --fill: #ffd91f8c;
                    stroke: #000d;
                }

                &.watching {
                    font-size: $size * 1.3;
                    stroke-width: $border-size * 1.5;
                    --fill: #3162ffcc;
                    stroke: #fff;
                }

                &.self {
                    font-size: $size * 1.5;
                    stroke-width: $border-size * 1.5;
                    --fill: #f22c;
                    stroke: #fff;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        > svg.roads {
            .gutter, .surface {
                fill: none;
                stroke-linecap: round;
            }

            .gutter {
                stroke: #000a;
                stroke-width: 32px;
            }

            .surface {
                stroke-width: 22px;
                stroke: #e9e9e9;

                &.active {
                    stroke: #ff3939bf;
                    filter: drop-shadow(0 0 4px #000d);
                }

                &.sport-running:not(.sport-cycling) {
                    stroke: #69a573;
                }
            }
        }

        > img.minimap {
            pointer-events: none;
            opacity: var(--opacity, 1);
        }
    }

    .pins {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;

        .pin-wrap {
            position: absolute;
        }
    }
}
