@use 'color';
@use "sass:math";

@keyframes sparkle {
    0%  { filter: drop-shadow(0 0 0.25em #fff1); }
    10%  { filter: drop-shadow(0 0 0.5em #fff5); }
    20%  { filter: drop-shadow(0 0 0.6em #fff7); }
    30%  { filter: drop-shadow(0 0 0.7em #fff9); }
    40%  { filter: drop-shadow(0 0 0.8em #fffb); }
    50%  { filter: drop-shadow(0 0 0.9em #fffd); }
    60%  { filter: drop-shadow(0 0 1em #ffff); }
    70%  { background-color: var(--fill); }
    73%  { background-color: var(--sparkle-color); opacity: 1; }
    76%  { background-color: var(--fill); }
    79%  { background-color: var(--sparkle-color); opacity: 1; }
    82%  { background-color: var(--fill); }
    85%  { background-color: var(--sparkle-color); opacity: 1; }
    88%  { background-color: var(--fill); }
    91%  { background-color: var(--sparkle-color); opacity: 1; }
    94%  { background-color: var(--fill); }
    97%  { background-color: var(--sparkle-color); opacity: 1; }
    100%  { background-color: var(--fill); }
}


.sauce-map-container {
    font-variant-numeric: tabular-nums;
    overflow: hidden;
    position: relative;
    touch-action: none;  // disable native touch handling on mobile devices.
    cursor: pointer;

    canvas {
        display: block;
    }

    &.moving {
        cursor: move;
    }

    &.sparkle .sauce-map .entities {
        .entity.athlete[data-power-level="z4"],
        .entity.athlete[data-power-level="z5"],
        .entity.athlete[data-power-level="z6"] {
            animation: sparkle 2400ms infinite steps(5);
        }
    }

    > .sauce-map {
        touch-action: none;  // disable native touch handling on mobile devices.
        position: absolute;
        left: 50%;
        top: 50%;

        > svg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        > div.entities {
            font-size: calc((3px * var(--layer-scale)) + (1 / var(--zoom) * var(--layer-scale) * 8px));
            position: absolute;
            top: 0;
            left: 0;

            .entity {
                --priority: 0;
                will-change: transform;
                z-index: var(--priority);
                $size: 1em;
                $border-size: 0.215em;
                --fill: #fffa;
                background-color: var(--fill);
                border: $border-size solid #5a94ff;
                opacity: 0.8;
                width: $size;
                height: $size;
                left: $size * -0.5;
                top: $size * -0.5;
                border-radius: 50%;
                position: absolute;
                cursor: pointer;

                &:hover {
                    --priority: 80 !important;
                    opacity: 1;
                }

                &.athlete {
                    --zone: 0;
                    z-index: calc(var(--zone) + var(--priority));

                    &[data-power-level="z4"] {
                        --zone: 1;
                        --sparkle-color: #fff9;
                    }
                    &[data-power-level="z5"] {
                        --zone: 2;
                        --sparkle-color: #dfb1a891;
                    }
                    &[data-power-level="z6"] {
                        --zone: 3;
                        --sparkle-color: #ae45da91;
                    }

                    &.bot {
                        --priority: 10;
                        font-size: $size * 1.2;
                        border-width: $border-size * 1.25;
                        border-color: gold;
                    }

                    &.following {
                        --priority: 20;
                        font-size: $size * 1.3;
                        border-width: $border-size * 1.5;
                        --fill: color.get(marked, 0.8);
                        border-color: color.shade(marked, 100%);
                    }

                    &.marked {
                        --priority: 30;
                        font-size: $size * 1.3;
                        border-width: $border-size * 1.5;
                        --fill: color.get(marked, 0.8);
                        border-color: color.shade(marked, 100%);
                    }

                    &.sweeper {
                        --priority: 40;
                        font-size: $size * 1.2;
                        border-width: $border-size * 1.25;
                        --fill: #f1262675;
                        border-color: #dc3c10cc;
                    }

                    &.leader {
                        --priority: 50;
                        font-size: $size * 1.2;
                        border-width: $border-size * 1.25;
                        --fill: #ffd91f8c;
                        border-color: #000d;
                    }

                    &.watching {
                        --priority: 60;
                        font-size: $size * 1.3;
                        border-width: $border-size * 1.1;
                        --fill: #3162ffcc;
                        border-color: #fff;
                    }

                    &.self {
                        --priority: 70;
                        font-size: $size * 1.5;
                        border-width: $border-size * 1.1;
                        --fill: #f22c;
                        border-color: #fff;
                    }
                }
            }
        }

        > svg.roads {
            .road,
            .highlight {
                fill: none;
                stroke-linecap: round;
            }

            .highlight {
                stroke-width: calc(8px + (1 / var(--zoom) * 7px));
                stroke: #cf0606b0;
            }

            .gutters .road {
                stroke: #000a;
                stroke-width: 32px;
            }

            .surfaces .road {
                stroke-width: 22px;
                stroke: #e9e9e9;

                &.active {
                    stroke: #ff3939bf;
                    filter: drop-shadow(0 0 4px #000d);
                }

                &.sport-running:not(.sport-cycling) {
                    stroke: #69a573;
                }
            }
        }

        > .map-background {
            pointer-events: none;
            opacity: var(--opacity, 1);
        }
    }

    .pins {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateZ(0);  // Fix rendering glitches by forcing layer

        .pin-anchor {
            // zero size transform object
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.8em;
            opacity: 0.9;
            transition: opacity 200ms;

            &.hidden {
                display: none;
            }

            &:hover, &:focus {
                z-index: 1000;
                opacity: 1;
            }
        }

        .pin-inner {
            $carrot-width: 1em;
            $carrot-height: 1em;
            $border-color: #fff;
            $border-size: 0.2em;
            $bg-color: #254c85;
            bottom: $carrot-height;
            pointer-events: all;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 3em;
            min-height: 3em;
            max-width: 14em;
            color: #fff;
            background-color: $bg-color;
            border: $border-size solid $border-color;
            border-radius: 0.5em;
            position: absolute;
            will-change: transform;

            &::before {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                border-left: $carrot-width solid transparent;
                border-right: $carrot-width solid transparent;
                border-top: $carrot-height solid $border-color;
                border-bottom: none;
                right: calc(50% - $carrot-width);
                top: 100%;
            }
            &::after {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                border-left: $carrot-width solid transparent;
                border-right: $carrot-width solid transparent;
                border-top: $carrot-height solid $bg-color;
                border-bottom: none;
                right: calc(50% - $carrot-width);
                top: calc(100% - math.sqrt(math.pow(math.div($border-size, 1em), 2) * 2) * 1em);
            }
        }

        .pin-content {
            padding: 0.4em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100%;

            &::after {
                content: 'X';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0;
                transition: height 400ms;
                font-size: 1.3em;
                font-weight: 500;
                background-color: #0008;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                z-index: 10;
            }
            &:hover::after {
                height: 1.5em;
            }

            avatar-pad {
                display: inline-block;
                width: 2em; // 3em - 1em
            }

            img.avatar {
                object-fit: cover;
                float: right;
                position: absolute;
                right: -1em;
                top: -1em;
                width: 3em;
                height: 3em;
                border-radius: 50%;
                background-color: white;
                border: 3px solid white;
                box-shadow: 1px 1px 2px 0 #0006;
            }
        }

        abbr.unit {
            font-size: 0.86em;
            opacity: 0.8;
            padding-left: 0.2em;
        }
    }
}
