@import url(animations.css);

@property --active-powerup-progress {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

@property --active-timer {
    syntax: "<time>";
    inherits: false;
    initial-value: 0s;
}


@keyframes active-powerup {
    from {--active-powerup-progress: 100%;}
    to {--active-powerup-progress: 0%}
}


.field-powerup {
    height: 1.5em;
    width: 1.5em;
    display: flex;
    border-radius: 50%;
    padding: 0.12em;
    background-color: #eee4;

    &.subtype-large {
        scale: 1.28;
    }

    &.available {
        cursor: pointer;
        transition: background-color 200ms;

        &:hover {
            background-color: #fffc;

            img {
                opacity: 1;
            }
        }
    }

    &.active {
        background-image: conic-gradient(
            #fff 0%,
            #fff var(--active-powerup-progress),
            #ccc7 var(--active-powerup-progress),
            #ccc7 100%);
        animation: var(--active-timer) linear 1 active-powerup;

        img {
            opacity: 1;
        }
    }

    img {
        opacity: 0.82;
        transition: opacity 200ms;
    }
}
