@use 'color';
@use 'charts';
@import 'map';
@import 'profile_tpl';

$light-border: 1px solid color.shade(intrinsic, 100%, 0.2);
$medium-border: 1px solid color.shade(intrinsic, 100%, 0.3);

html {
    padding: 0;
    font-size: 4.1mm;
    -webkit-user-select: text;
    user-select: text;
}

abbr.unit {
    font-weight: 400;
    opacity: 0.8;
    font-size: 0.82em;
    padding: 0 0.1em;
}

.avatar {
    img {
        object-fit: cover;
        width: 6em;
        height: 6em;
        margin: -0.5em 1em 0 0;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 0px 4px 0 #0005;
    }
}

#content {
    overflow: auto;
    overflow: overlay;

    color: color.get(intrinsic-inverted);
    background-color: color.get(intrinsic);
}

#map {
    height: clamp(250px, 33vh, 600px);
    border-radius: 0.28em;
    background-color: color.shade(intrinsic, 5%);

    .entity[data-id="start"] {
        font-size: 1.4em;
        --fill: white;
        border-color: red;
        opacity: 1;
        filter: drop-shadow(0 0 4px #000d);
    }

    .entity[data-id="end"] {
        font-size: 2em;
        --fill: white;
        border-color: black;
        opacity: 1;
        background-color: white;
        border-width: 0.15em;
        // Checkers...
        $checker-size: 0.12em;
        background-image:
            linear-gradient(45deg, #000 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, #000 75%),
            linear-gradient(45deg, transparent 75%, #000 75%),
            linear-gradient(45deg, #000 25%, transparent 25%);
        background-size: ($checker-size * 2) ($checker-size * 2);
        background-position:0 0, 0 0, (-$checker-size) (-$checker-size), $checker-size $checker-size;
    }
}

#content > section {
    margin: 0;
    overflow: hidden;
    flex: 0 0 auto;
    padding: 1em 1.5em;
    border-bottom: $light-border;

    > header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0.2rem;
        font-size: 1.4em;
        font-weight: 600;

        ms {
            padding-right: 0.2em;
            align-self: flex-end;
        }

        .title {
            font-variant: all-small-caps;
        }

        small {
            font-weight: normal;
        }
    }

    > main {
        display: flex;
        flex-direction: column;
        padding: 1rem 0 2rem;
    }
}

// XXX shared with events, make common...
main > table {
    user-select: text;
    table-layout: fixed;
    overflow: hidden;
    border-radius: 0.28em;
    background-image: linear-gradient(45deg, color.shade(intrinsic, 4%), color.shade(intrinsic, 3%));

    > thead {
        position: sticky;
        z-index: 1;
        top: 0;
        background-image: linear-gradient(to bottom, color.shade(bg, 10%), color.shade(bg, 0%));
        color: color.get(fg);
    }
}

.chart-holder {
    @include charts.legend(".legend");
}

#content > section.summary {
    .chart {
        height: 10em;
    }

    .more-stats .stats {
        margin: 0.2em 1em 0.2em 0;
    }

    header {
        padding: 1rem 0;
        border-bottom: $light-border;

        .activity-intro,
        .activity-details {
            flex: 1 1 0;
        }

        .activity-intro {
            margin-right: 0.6em;
            position: relative;
            flex-grow: 2;

            .special-badge {
                font-variant: all-small-caps;
                font-size: 0.5em;
                font-weight: 600;
                color: gold;
                position: absolute;
                line-height: 1;
                padding: 0.15em 0.3em;
                top: -0.6em;
                left: 0;
                background-color: #000b;
                border-radius: 0.28em;
            }

            .badge {
                font-size: 0.5em;
            }

            .flag {
                display: inline-block;
                height: 1.2em;
                vertical-align: middle;
            }
        }

        .activity-details {
            font-size: 0.7em;
            font-weight: normal;
            border: $medium-border;
            border-radius: 0.28em;
            padding: 0.8em;
        }
    }
}

.key-value-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;

    key {
        grid-column: 1;
        margin-right: 0.5em;
        white-space: nowrap;
    }

    value {
        grid-column: 2;
    }
}

.more-stats {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;

    .stats {
        flex: 1 1 0;
        padding: 0.5em;
        margin: 0.5em;

        &:not(:last-child) {
            border-right: $light-border;
        }
    }
}

table.expandable.laps,
table.expandable.segments {
    > tbody > tr.details > td > .container {
        $more-stats-width: 250px;
        display: flex;
        flex-wrap: wrap;
        padding: 1em;
        align-items: center;

         .more-stats {
            flex: 0 1 $more-stats-width;
        }

        .chart-holder {
            position: relative;
            flex: 1 1 calc(100% - $more-stats-width - 2px);
            overflow: hidden;
            min-width: 300px;

            .chart {
                height: 10em;
            }
        }
    }
}

// XXX shared with events, make common...
table {
    border-collapse: collapse;
    width: 100%;

    thead th {
        font-variant: all-small-caps;
        font-weight: 500;
    }

    > thead > tr > th,
    > tbody > tr > td {
        padding: 0.4em;
        text-align: left;

        &:first-child {
            padding-left: 1.5em;
        }
        &:last-child {
            padding-right: 1.5em;
        }
    }

    tbody tr {
        transition: background 100ms;

        &:hover {
            background-color: #0355;
        }
    }

    &.expandable {
        > tbody > tr {
            &:nth-child(4n - 1) {
                background-color: #0001;

                &:hover {
                    background-color: #0354;
                }
            }

            &:nth-child(2n - 1) {
                &:not(.expanded) + tr {
                    display: none;
                }
            }

            &.summary {
                cursor: pointer;

                > td {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            &.expanded,
            &.details {
                background-color: color.shade(bg2, 20%, 10%) !important;
            }

            &.expanded {
                border-top: 0.2em solid color.shade(fg, 10%, 50%);

                > td {
                    padding-top: 1em;
                    padding-bottom: 0.5em;
                    font-weight: bold;
                }
            }

            &.details {
                border-bottom: 0.2em solid color.shade(fg, 10%, 50%);

                > td {
                    padding-top: 0.5em;
                    padding-bottom: 1em;

                    > .container {
                        background-color: color.shade(bg2, 60%, 10%);
                        padding: 1.5em;
                        border-radius: 0.28em;
                        box-shadow: 1px 1px 5px 0 #0003;

                        &:empty {
                            min-height: 5em;

                            &::after {
                                font-size: 2em;
                                content: 'Loading...'
                            }
                        }
                    }
                }
            }
        }
    }
}
