html {
    padding: 0;
    font-size: 16px;

    &.embed {
        background: none;

        body {
            background: none;
            color: #222;

            header {
                background: #3333;
                color: revert;

                .buttons a {
                    color: unset;
                }
            }
        }
    }
}

body {
    border-radius: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow: overlay;
}

body > main {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.athlete {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.athlete > section {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.3em;
    overflow: hidden;
    font-variant-numeric: tabular-nums;
    user-select: text;
}

.athlete > header {
    padding: 0.1em 0.7em;
    font-size: 1.6em;
    font-weight: bold;
    background-image: linear-gradient(to top, #222, #333);
    display: flex;

    .name {
        padding: 0.3em 0;

        img {
            display: inline-block;
            vertical-align: middle;
            height: 1.2em;
        }
    }

    .buttons {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.1em;
        padding-bottom: 0.1em;

        a {
            opacity: 0.86;
            transition: opacity 150ms;
            margin: -0.5em 0;
            padding-top: 0.15em;
            color: #ddd;

            &[disabled] {
                opacity: 0.3 !important;
            }

            &:hover {
                opacity: 1;
            }

            &:not(:last-child) {
                margin-right: 0.4em;
            }
            &[data-action="toggleMuted"] {
                ms {
                    font-size: 0.9em;
                    margin-bottom: 0.085em;
                }
            }
            &[data-action="toggleMarked"].active {
                color: #69ff94;
            }
            &[data-action="toggleMuted"].active {
                color: #e14300;
            }
            &[data-action="unfollow"].active {
                color: #69ff94;
            }

            img {
                max-height: 1em;
            }
        }
    }
}

.athlete a.avatar {
    flex: 1 0 280px;
    display: block;
    overflow: hidden;
    max-width: 100%;
    max-height: calc(100vh - 4rem);
    display: flex;
    padding: 1em;
    align-items: flex-start;
    justify-content: center;
}

.athlete a.avatar img {
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
    border-radius: 2.5em 0.6em;
    border: 0.6em solid #0007;
    box-shadow: 1px 1px 5px #0003;
    background-image: radial-gradient(ellipse at 11% 0,
        rgba(32, 2, 72, 0.8) 0%,
        rgba(10, 12, 142, 0.8) 42%,
        rgba(132, 70, 13, 0.8) 94%);
    background-clip: content-box;
}

.athlete .info {
    flex: 100 1;
    display: flex;
    flex-direction: column;
    margin: 0.8em 0.33em;
    min-width: 250px;
    border-radius: 0.5em;
    overflow: hidden;
    background-color: #0001;

    .flag {
        display: inline-block;
        vertical-align: middle;
        max-height: 1em;
    }
}

.athlete .info .row {
    padding: 0.4em 0.7em;
}

.athlete .info .row:nth-child(odd) {
    background-color: #0003;
}

.athlete .p1 {
    font-size: 1em;
    font-weight: bold;
}

key {
    display: inline-block;
    min-width: 10ch;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 0.8em;
}

key::after {
    content: ':';
    margin-right: 0.2em;
}

abbr.unit {
    font-size: 0.76em;
    margin-left: 0.16em;
    opacity: 0.80;
}
