@import 'athlete_tpl';

html {
    padding: 0;
    font-size: 16px;
    user-select: text;

    &.embed {
        background: none;

        body {
            background: none;
            color: #222;

            header {
                background: #3333;
                color: revert;

                .buttons a {
                    color: unset;
                }
            }
        }
    }
}

body {
    border-radius: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow: overlay;
}

body > main {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}
