@use 'color';

html {
    font-size: 16px;

    &.solid-background {
        background: var(--background-color);

        body {
            background: transparent;
        }
    }

    --opacity: 1;
}

#content {
    align-items: center;
    justify-content: center;
    opacity: var(--opacity);

    > webview {
        width: 100%;
        height: 100%;
    }

    > .load-fail-reason {
        width: 100%;
        height: 100%;
        background: color.get(bg);
        color: color.get(fg);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:not(.load-failed) > .load-fail-reason {
        display: none;
    }

    &.load-failed > webview {
        display: none;
    }
}

#titlebar {
    position: relative !important;
    --extra-height: 1.4em;

    header {
        // XXX probably won't work on windows
        app-region: drag;

        > * {
            app-region: no-drag;
        }
    }

    header .double-row {
        padding-top: 0.15em;
        padding-bottom: 0.15em;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0.00000001;  // last resort only to keep right side buttons

        .title {
            display: initial;  // fixes text-overflow
            padding-top: 0.15em;
            padding-left: 0.3em;
            // Let buttons exclusively control width
            width: 0;
            min-width: 100%;
            height: auto;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .buttons { }
    }

    .url-holder {
        display: flex;
        overflow: hidden;
        flex: 1 0.5 100%;
        min-width: 0;
        background-color: #111;
        color: #fff;
        border-radius: 0.28em;
        margin-left: 0.4em;
        margin-right: 0.4em;
        padding-left: 0.3em;

        &:focus-within {
            outline: 1px solid color.get(primary);
        }

        input {
            margin: 0;
            background: transparent;
            border: none;
            color: inherit;
            flex: 1 1 100%;
            overflow: hidden;
            outline: none !important;
        }

        .pin {
            &.pinned {
                font-variation-settings: 'FILL' 1;
                color: #1c9be3;
                -webkit-text-stroke: 1px #fff;
            }
        }
    }
}
