html {
    &.solid-background {
        background: var(--background-color);

        body {
            background: transparent;
        }
    }
}

body {
    color: black;
}

#content {
    align-items: flex-start;
    padding: 0.2rem;
    overflow-y: auto;
    overflow-y: overlay; // chromium only, but way better
    scroll-snap-type: y proximity;

    &.reverse-order {
        flex-direction: column-reverse;

        > *:first-child {
            /* https://bugs.chromium.org/p/chromium/issues/detail?id=411624 */
            margin-bottom: auto;  /* Shift to top when unscrolled */
        }
    }
    &:not(.reverse-order) {
        > *:first-child {
            /* https://bugs.chromium.org/p/chromium/issues/detail?id=411624 */
            margin-top: auto;  /* Shift to bottom when unscrolled */
        }
    }
    > :last-child {
        scroll-snap-align: end;
        scroll-margin-block-end: 1rem;
    }
}

.entry {
    --message-hue: 0deg;
    flex: 0 0 auto;
    display: flex;
    background-color: hsla(var(--message-hue), 80%, 40%, 0.7);
    color: #fff;
    align-items: flex-start;  /* workaround a scroll issue with large content */
    font-size: 0.85em;
    margin-bottom: 0.3rem;
    border-radius: 0.33em;
    box-shadow: 1px 1px 5px 0 #0004;
    max-height: 0;
    transition: max-height 1s, opacity var(--fadeout-time);
    overflow: hidden;

    &.muted {
        background-color: #3336;

        .content {
            padding: 0.2em 1em;
            font-size: 0.8em;
            justify-content: center;
            font-variant: all-small-caps;
            font-weight: bold;
            opacity: 0.9;
        }
    }

    &.fadeout {
        opacity: 0;
    }

    &.slidein {
        max-height: calc(100vh - 1.5rem);
    }

    .avatar {
        flex: 0 0 auto;
        align-self: center;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        overflow: hidden;
        margin: 0.33em;
        box-shadow: 0 0 0 1px #0002;

        img {
            object-fit: contain;
            width: 100%;
            max-height: 100%;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        max-height: 100%;

        > .live {
            min-width: 24ch;
            font-size: 0.6em;
            padding: 0.1em 0.3rem 0.4em 0;
            flex: 0 0 auto;
        }

        > .live:empty {
            padding-bottom: 0.2em;
        }
    }

    .header {
        font-size: 0.6em;
        padding: 0.6em 0.3rem 0 0;
        flex: 0 0 auto;
        display: flex;
        align-items: center;

        .name {
            font-weight: bold;
        }

        .badge {
            margin-left: 0.4em;
            white-space: nowrap;

            &:empty {
                display: none;
            }
        }

        .age {
            padding-left: 0.5em;
            flex: 1 0 auto;
            text-align: end;
            opacity: 0.7;
        }
    }

    .message {
        margin-right: 0.3rem;
        margin-bottom: 0.3rem;
        overflow-y: auto;
        overflow-y: overlay; // chromium only, but way better
        scroll-snap-type: y proximity;

        > .chunk {
            font-size: 0.8em;
            white-space: pre-wrap;
            word-break: break-word;

            &:last-child {
                scroll-snap-align: end;
                scroll-margin-block-end: 1rem;
            }
        }
    }
}

.timestamp {
    font-size: 0.45em;
    font-weight: bold;
    font-variant: small-caps;
    padding: 0.5em;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}
