@use 'color';
@import 'themes';
@import 'animations';


@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-VariableFont_wght.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: 'Jost';
    font-style: italic;
    src: url('../fonts/Jost-Italic-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 100 700;
    src: url('../fonts/MaterialSymbolsRounded.woff2') format('woff2');
}


html {box-sizing: border-box;}
*, *::before, *::after {
    box-sizing: inherit;
}


html {
    --aspect-ratio: 9 / 16;
    //font-family: 'Jost', sans-serif;
    font-family: 'Saira', sans-serif;
    width: 100%;
    height: 100%;
    padding: 2px;
    background-color: rgba(127, 127, 127, 0.002); // Using full transparency breaks on windows
    font-size: clamp(2.2mm, 7vw, 18mm);
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;

    &:not(.electron-mode) {
        background-color: black;
        padding: 0;

        .electron-only {
            display: none !important;
        }
    }

    &.hidden-during-load {
        display: none;
    }

    &.electron-mode {
        &:not(:hover) > body.transparent-bg {
            --bg-opacity: 0;
        }

        &:hover > body.transparent-bg {
            --bg-opacity: 0.7 !important;
        }

        &:not(.frame) > body {
            border-radius: 2mm;

            #titlebar header {
                .logo,
                .title,
                .filler {
                    app-region: drag;
                    cursor: move;
                }
            }
        }

        .app-drag {
            app-region: drag;
            cursor: move;
        }
    }

    &:not(.settings-mode):not(.settings-page) #titlebar:not(.always-visible) {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    &:hover #hintbar {
        animation: brief-max-height 4s 1s;
    }

    &:not(.settings-mode):not(.settings-page) #titlebar:not(.always-visible) header {
        .logo,
        .title,
        .filler {
            app-region: initial !important;
            cursor: unset !important;
        }
    }

    &:not(.settings-page) #titlebar:not(.always-visible) {
        position: absolute;
    }

    &.settings-page {
        font-size: 4.1mm;

        #content {
            overflow: auto;
            overflow: overlay;
        }
    }

    &.highlight-window {
        animation-duration: 500ms;
        animation-name: highlight;
        animation-iteration-count: 2;
    }

    &.use-aspect-ratio {
        font-size: clamp(2.2mm, 8vw, calc(var(--aspect-ratio) * 8 * 1vh));
    }

    body {
        --bg-opacity: 1;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        color: color.get(fg);
        transition: --bg-opacity 1s;
        background-image: linear-gradient(135deg,
            color.get(bg, calc(var(--bg-opacity) * 100%)),
            color.get(bg2, calc(var(--bg-opacity) * 100%)));

        &.alt-background {
            color: color.get(fg-alt);
            background-image: linear-gradient(135deg,
                color.get(bg-alt, calc(var(--bg-opacity) * 100%)),
                color.get(bg-alt2, calc(var(--bg-opacity) * 100%)));
        }
    }
}

img {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

#settings {
    padding: 0.5em 0.8em;
    overflow: auto;
    overflow: overlay;

    &.tabbed {
        margin-top: 0.2em;
        padding: 0 0 0.5em 0;
        display: flex;
        flex-direction: column;

        header.tabs {
            display: flex;
            flex: 1 1 100%;

            .tab {
                font-size: 1.2em;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                font-variant: all-small-caps;
                flex: 1 0 0;
                padding: 0.2em;
                transition: color 200ms, background 200ms;
                border-color: color.shade(fg, 0%, 0.5);
                border-width: 0.09rem;
                border-style: solid;
                background-clip: padding-box;

                &:not(.active) {
                    cursor: pointer;
                    color: color.shade(fg, 20%, 90%);
                    border-left-style: none;
                    border-right-style: none;
                    border-top-color: transparent;

                    &:hover {
                        color: color.get(fg);
                        background-color: color.shade(fg, 0%, 0.1);
                    }
                }

                &.active {
                    border-bottom-color: transparent;
                    border-top-left-radius: 0.32em;
                    border-top-right-radius: 0.32em;
                    background-image: linear-gradient(to bottom, color.shade(fg, 100%, 0.5), transparent 80%);

                    &:first-child {
                        border-left-color: transparent;
                        border-top-left-radius: 0;
                    }

                    &:last-child {
                        border-right-color: transparent;
                        border-top-right-radius: 0;
                    }
                }
            }
        }

        > .tab {
            padding: 0.5em 1.2em;
            border-bottom: none !important;

            &:not(.active) {
                display: none;
            }
        }
    }

    > .section {
        padding: 0.5em;

        .desc {
            padding: 1em 0 1.5em;
            color: color.shade(fg, 5%);
            font-weight: 600;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #fff2;
        }

        .title {
            font-size: 1.3em;
            opacity: 0.9;
            padding: 0.2em 0 0.5em;
            font-variant: all-small-caps;
            font-weight: bold;
        }
    }
}

form {
    padding: 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    hr {
        width: calc(100% - 0.5em);
        border: none;
        border-bottom: 1px solid #fff3;
    }
}

input, select {
    padding: 0.2em 0.2em;
    border-radius: 0.28em;
    font-size: 0.9em;
    background-color: #fcfcfc;
    outline-color: #08f;
    border-style: solid;

    &:focus {
        outline-style: solid;
    }
}

input[type="number"] {
    width: 8ch;

    &.no-increment {
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

form {
    label {
        display: flex;
        align-items: center;
        margin-bottom: 0.4em;
        
        &.disabled {
            opacity: 0.4;
        }

        &.indent key {
            padding-left: 0.8em;
        }

        &.edited .restart-required::after {
            content: 'Restart Required';
            font-variant: all-small-caps;
            display: inline-block;
            font-size: 0.9em;
            margin-left: 0.2em;
            margin-right: 0.2em;
            color: #e5d82b;
            font-weight: 500;
        }

        &.edited[warning] {
            flex-wrap: wrap;

            &::after {
                content: attr(warning);
                white-space: pre-wrap;
                display: block;
                margin: 0.2em 0.5em;
                padding: 0.5em 0.8em;
                font-size: 0.9em;
                background-color: color.shade(fg, 100%, 0.3);
                border-radius: 0.28em;
                color: white;
                flex: 1 1 100%;
            }
        }

        key {
            display: inline-block;
            margin-right: 0.4em;
            min-width: 16ch;

            + input[type="checkbox"] {
                margin-left: 1px;
            }
            + span {
                margin-left: 2px;
            }

            img.fa {
                filter: invert(0.9);
                width: 1em;
            }
        }

        input, select {
            margin-right: 0.2em;
        }
    }

    warning {
        display: block;
        font-style: oblique;
        font-size: 0.9em;
        font-weight: 300;
        color: yellow;
        opacity: 1;
        transition: opacity 2s;
        transition-delay: 3s;

        &:not([disabled]) {
            padding: 0 1em 0.5em 1em;
            opacity: 0;
        }

        &[disabled] {
        }
    }
}

.button-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    background-image: linear-gradient(
        135deg,
        var(--theme-button-bar-top-left),
        var(--theme-button-bar-bottom-right));
    overflow: hidden;
    font-size: 1rem;

    .button {
        padding: 1em 0.6em;
        flex: 1 1 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: #fff3;
        }

        &:active {
            background: #0003;
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.2;
        }

        > img {
            height: 1.2em !important;
            filter: invert(1);
        }
    }
}

#titlebar {
    $header-height: 13mm;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    color: white;
    overflow: hidden;
    max-height: calc($header-height + 3.5rem); // Roughly fixed header plus optional button bar
    transition: max-height 300ms, padding 300ms;
    box-shadow: 0 1px 5px #0009;

    .button {
        border-radius: 0.22em;

        > img {
            height: 0.85em;
            filter: invert(1);
        }

        &:hover {
            background-color: #fff3;
        }

        &:active {
            background-color: #0003;
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.2;
        }
    }

    header {
        font-size: 5.1mm;
        flex: 0 0 auto;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $header-height;
        background-image: linear-gradient(to top, color.shade(bookend, 0%), color.shade(bookend, 12%));
        color: color.shade(bookend, 100%);
        padding-right: 0.3em;

        .logo,
        .title,
        .filler {
            height: 100%;
        }

        .filler {
            flex: 1 1 0;
        }

        .logo {
            padding: 0.4em 0 0.4em 0.2em;

            img {
                --tilt: -20deg;
                transform: rotate(var(--tilt));
                height: 100%;
            }
        }

        .logo + .title {
            padding-left: 0;
        }

        .title {
            flex: 0 1 auto;
            display: flex;
            align-items: center;
            font-size: 0.8em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 0.3em;

            &:first-child {
                padding-left: 0.8em;
            }
        }

        .button {
            padding: 0.05em 0.3em;

            ms {
                font-weight: 300;
            }
        }

        .buttons {
            flex: 0 0 auto;
            display: flex;
            align-items: center;

            .button > img {
                height: 0.90em;
                filter: invert(1);
            }
        }

        input, select {
            font-size: 0.7em;
            margin: 0 0 0 1em;
            background: #111;
            color: #fff;
            border-color: #3333;
        }
    }
}

@property --bg-from-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #0000;
}

@property --bg-to-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #0000;
}

.button-group {
    display: flex;
    flex-wrap: wrap;

    .button {
        flex: 1;
    }
}

a.std.button {
    text-decoration: none;
}

.button {
    cursor: pointer;
    opacity: 0.80;
    transition: opacity 200ms, background 200ms;

    &:hover {
        opacity: 1;
    }

    &:active {
        img, ms {
            opacity: 0.6;
        }
    }

    &.std {
        --bg-from-color: #{color.shade(fg, 0%)};
        --bg-to-color: #{color.shade(fg, 15%)};
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        color: #000;
        color: color.shade(fg, 100%);
        background-image: linear-gradient(180deg, var(--bg-from-color), var(--bg-to-color));
        border-radius: 0.15rem;
        margin: 0.1rem 0.2rem;
        padding: 0.1rem 1rem;
        box-shadow: none;
        transition: box-shadow 100ms, --bg-from-color 150ms, --bg-to-color 150ms;

        &:hover {
            --bg-from-color: #{color.shade(fg, 0%)};
            --bg-to-color: #{color.shade(fg, 5%)};
            box-shadow: 0.05rem 0.05rem 0.4rem 0 #0004;
        }

        &:active {
            box-shadow: inset 0 0 0.8rem 0 #0008;
        }

        &.danger {
            --bg-from-color: #{color.shade(negative, 0%)};
            --bg-to-color: #{color.shade(negative, -10%)};
            color: color.shade(negative, 100%);

            &:hover {
                --bg-from-color: #{color.shade(negative, 5%)};
                --bg-to-color: #{color.shade(negative, -5%)};
            }
        }

        &.primary {
            --bg-from-color: #{color.shade(primary, 0%)};
            --bg-to-color: #{color.shade(primary, -10%)};
            color: color.shade(primary, 100%);

            &:hover {
                --bg-from-color: #{color.shade(primary, 5%)};
                --bg-to-color: #{color.shade(primary, -5%)};
            }
        }

        &.small {
            font-size: 0.88em;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        &.xs {
            font-size: 0.80em;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        &.large {
            font-size: 1.2em;
        }

        &.xl {
            font-size: 1.4em;
        }
    }

    img, ms {
        transition: opacity 200ms;
    }
}

@keyframes brief-max-height {
    from { max-height: 0; }
    20% { max-height: 2em; }
    90% { max-height: 2em; }
    to { max-height: 0; }
}

#hintbar {
    $basebarHeight: 1.5mm;
    font-size: 5mm;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    pointer-events: none;
    color: color.shade(bookend, 100%);
    overflow: hidden;
    max-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    background-image: linear-gradient(to top,
        color.shade(bookend, 0%, 90%),
        color.shade(bookend, 0%, 70%) $basebarHeight,
        transparent $basebarHeight);

    .hint {
        font-size: 0.82em;
        line-height: 1;
        padding: 0.2em 1.2em 0.3em;
        border-top-left-radius: 0.4em;
        border-top-right-radius: 0.4em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-image: linear-gradient(to top,
            transparent $basebarHeight,
            color.shade(bookend, 0%, 70%) $basebarHeight,
            color.shade(bookend, 0%, 90%));

        &::after {
            content: 'Right click for controls';
            font-variant: all-small-caps;
        }
    }
}

@media (hover: none) {
    #hintbar .hint::after {
        content: 'Long press for controls';
    }
}

#content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.badge {
    display: inline-block;
    --hue: 90deg;
    color: #fff;
    vertical-align: middle;
    line-height: 1;
    font-variant: all-small-caps;
    font-weight: bold;
    background-image: linear-gradient(to bottom,
        hsla(var(--hue), 70%, 40%, 0.86),
        hsla(var(--hue), 87%, 50%, 0.86));
    border-radius: 0.28em;
    padding: 0.1em 0.5em 0.2em;
    text-shadow: 0 0 1px #000;
}

dialog {
    border-radius: 0.3em;
    background-image: linear-gradient(to right, #fff, #ccc);
    padding: 0;
    box-shadow: 1px 1px 5px #000a;
    border-color: #222e;
    font-size: 0.9rem;

    &::backdrop {
        background-color: #0007;
    }

    header {
        background-image: linear-gradient(to top, color.shade(bookend, 0%), color.shade(bookend, 12%));
        color: color.shade(bookend, 100%);
        font-size: 1.2em;
        padding: 0.5em;
    }

    form {
        padding: 1em 1em 0 1em;
        font-variant-numeric: tabular-nums;
    }

    footer {
        padding: 1em 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    button {
        padding: 0.3em 1em;
        border-radius: 0.4em;
        background-color: #666;
        color: white;
        margin-right: 0.5em;
        opacity: 0.8;
        transition: opacity 100ms, box-shadow 100ms;
        cursor: pointer;
        border: 1.5px solid #0005;

        &.primary {
            background-color: #0060cb;
        }

        &:hover {
            opacity: 1;
            box-shadow: 1px 1px 2px #0004;
        }

        &:active {
            box-shadow: inset 0 0 5px #0006;
        }
    }
}

.unlocked [data-field] {
    cursor: pointer;
}

footer.legal {
    flex: 1 0 auto;
    padding: 1em;
    font-size: 3.4mm;
    font-variation-settings: "wdth" 85;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0.7;
    width: 100%;

    > * {
        padding: 0 0.5em;
    }

    a:not(:hover) {
        text-decoration: none;
    }
}

*:not(:hover)::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar {
    width: 2.5mm;
    height: 2.5mm;
}
::-webkit-scrollbar-track {
    background-color: #1114;
}
::-webkit-scrollbar-thumb {
    border-radius: 1mm;
    background-color: #eeec;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #eee;
}
::-webkit-scrollbar-corner {
    background-color: #1114;
}

img {
    -webkit-user-select: none;
    user-select: none;
}

ms {
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-variant: none;

    font-size: 1em;
    margin-bottom: 0.165em;
    vertical-align: middle;

    &[large] {
        font-size: 1.333em;
    }

    &[xl] {
        font-size: 1.666em;
    }

    &[xxl] {
        font-size: 2em;
    }

    &[small] {
        font-size: 0.8em;
    }

    &[xs] {
        font-size: 0.6em;
    }

    &[heavy] {
        font-weight: 800;
    }

    &[light] {
        font-weight: 200;
    }

    &[fill] {
        font-variation-settings: 'FILL' 1;
    }

    @keyframes alert-color-flash {
        from {
            color: #b01010;
        }

        50% {
            color: #f00;
        }

        to {
            color: #b01010;
        }
    }

    &.alert {
        animation: 1s alert-color-flash infinite;
    }

    &.warn {
        color: #dad00c;
    }

    &.caution {
        color: #9da665;
    }

    &.good {
        color: #16ad18;
    }
}
