@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-VariableFont_wght.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: 'Jost';
    font-style: italic;
    src: url('../fonts/Jost-Italic-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 100 700;
    src: url('../fonts/MaterialSymbolsRounded.woff2') format('woff2');
}

img {
    user-select: none;
}

ms {
    user-select: none;
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-variant: none;

    font-size: 1em;
    margin-bottom: 0.165em;
    vertical-align: middle;

    &[large] {
        font-size: 1.333em;
    }

    &[xl] {
        font-size: 1.666em;
    }

    &[xxl] {
        font-size: 2em;
    }

    &[small] {
        font-size: 0.8em;
    }

    &[xs] {
        font-size: 0.6em;
    }

    &[heavy] {
        font-weight: 800;
    }

    &[light] {
        font-weight: 200;
    }

    @keyframes alert-color-flash {
        from {
            color: #b01010;
        }

        50% {
            color: #f00;
        }

        to {
            color: #b01010;
        }
    }

    &.alert {
        animation: 1s alert-color-flash infinite;
    }

    &.warn {
        color: #dad00c;
    }

    &.caution {
        color: #9da665;
    }

    &.good {
        color: #16ad18;
    }
}

@keyframes highlight {
    from {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.5);
    }

    to {
        filter: brightness(1);
    }
}

html {
    box-sizing: border-box;
    user-select: none;
    font-family: 'Jost', sans-serif;

    &.highlight-window {
        animation-duration: 500ms;
        animation-name: highlight;
        animation-iteration-count: 4;
    }
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

html:not(.electron-mode) .electron-only {
    display: none;
}

img {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

*:not(:hover)::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background-color: #1114;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #eeec;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #eee;
}
::-webkit-scrollbar-corner {
    background-color: #1114;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    --aspect-ratio: 9 / 16;
    padding: 3px; /* Required in windows to allow resize handles */
    background-color: rgba(127, 127, 127, 0.002); /* Using full transparency breaks on windows */
    font-size: clamp(10px, 7vw, 30px);

    &.use-aspect-ratio {
        font-size: clamp(10px, 8vw, calc(var(--aspect-ratio) * 8 * 1vh));
    }

    &.browser-mode {
        background-color: black;
        padding: 0;
    }

    &.settings-page {
        padding: 0;
        font-size: 18px;

        body {
            border-radius: 0 !important;
        }

        #content {
            overflow: auto;
            overflow: overlay;
        }
    }
}

#settings {
    font-size: 16px;
    padding: 0.5em 0.8em;
    overflow: auto;
    overflow: overlay;

    > .section {
        padding: 0.5em;

        &:not(:last-child) {
            border-bottom: 1px solid #fff2;
        }

        .title {
            font-size: 1.3em;
            opacity: 0.9;
            padding: 0.2em 0 0.5em;
            font-variant: all-small-caps;
            font-weight: bold;
        }
    }
}

form {
    padding: 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input, select {
    padding: 0.2em 0.2em;
    border-radius: 0.28em;
    font-size: 0.9em;
    background-color: #fcfcfc;
    outline-color: #08f;
    border-style: solid;

    &:focus {
        outline-style: solid;
    }
}

input[type="number"] {
    width: 8ch;
}

form label {
    display: flex;
    align-items: center;
    margin-bottom: 0.4em;

    &.disabled {
        opacity: 0.4;
    }

    &.edited .restart-required::after {
        content: 'Restart Required';
        font-variant: all-small-caps;
        display: inline-block;
        font-size: 0.9em;
        margin-left: 0.2em;
        margin-right: 0.2em;
        color: #e5d82b;
        font-weight: 500;
    }

    key {
        display: inline-block;
        margin-right: 0.4em;
        min-width: 16ch;

        + input[type="checkbox"] {
            margin-left: 1px;
        }
        + span {
            margin-left: 2px;
        }

        img.fa {
            filter: invert(0.9);
            width: 1em;
        }
    }

    input, select {
        margin-right: 0.2em;
    }
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
}

body.transparent-bg {
    transition: background 200ms;
}

html body {
    background-image: linear-gradient(135deg, #db0000de, transparent),
                      linear-gradient(315deg, #020e64d1, transparent);

    &.alt-background {
        background-image:
            linear-gradient(135deg, #01052d70, transparent),
            linear-gradient(315deg, #0d117599, transparent);
    }
}

html.noframe:not(.browser-mode) body {
    border-radius: 0.3rem;
}

html:not(.browser-mode) body:not(.transparent-bg) {
    background-color: #000;
}

html:not(.browser-mode):not(:hover) body.transparent-bg {
    background: transparent;
}

html:not(.settings-mode):not(.settings-page) #titlebar:not(.always-visible),
html.settings-mode #hintbar,
html:not(:hover) #hintbar {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;

    .app-drag {
        -webkit-app-region: initial;
    }
}

/* same size on all windows */
#hintbar {
    font-size: 18px;
}
#titlebar header {
    font-size: 20px;
}

.button-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    background-image: linear-gradient(135deg, #1d0050de, #2b0078de);
    overflow: hidden;
    font-size: 1rem;

    .button {
        padding: 1em 0.6em;
        flex: 1 1 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 200ms, background 200ms;

        &:hover {
            background: #9700ff6b;
        }

        &:active {
            background: #0008;
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.2;
        }

        img {
            height: 1.2em !important;
            filter: invert(1);
        }
    }
}

#titlebar {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    color: white;
    overflow: hidden;
    max-height: calc(60px + 3.5rem); // Roughly fixed header plus optional button bar
    transition: max-height 300ms, padding 300ms;
    box-shadow: 0 1px 5px #0009;

    &:not(.always-visible) {
        position: absolute;
    }
    &.always-visible {
        position: relative;
    }

    .button {
        img {
            height: 0.85em;
            filter: invert(1);
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.2;
        }
    }

    header {
        flex: 0 0 auto;
        max-width: 100%;
        display: flex;
        align-items: center;
        padding: 0.56em 0.5em;
        background-image: linear-gradient(to top, #222, #333);

        .title {
            font-size: 0.8em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .button.move {
            padding: 0 0.4em 0 0;
        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 1 0 auto;

            .button {
                padding-left: 0.5em;

                img {
                    height: 0.90em;
                    filter: invert(1);
                }
            }
        }
    }
}
html.settings-page #titlebar {
    position: relative;
}

.electron-mode .app-drag {
    -webkit-app-region: drag;
    cursor: move !important;
}

@property --bg-from-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #0000;
}
@property --bg-to-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #0000;
}

.button-group {
    display: flex;
    flex-wrap: wrap;

    .button {
        flex: 1;
    }
}

.button {
    cursor: pointer;
    opacity: 0.86;
    transition: opacity 200ms;

    &.std {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        color: #000;
        --bg-from-color: #fff;
        --bg-to-color: #cccb;
        background-image: linear-gradient(180deg, var(--bg-from-color), var(--bg-to-color));
        border-radius: 0.25rem;
        margin: 0.1rem 0.2rem;
        padding: 0.1rem 1rem;
        box-shadow: none;
        transition: box-shadow 100ms, --bg-from-color 100ms, --bg-to-color 100ms;

        &:hover {
            box-shadow: 0.05rem 0.05rem 0.4rem 0 #0008;
            --bg-from-color: #fff;
            --bg-to-color: #ccc;
        }

        &:active {
            box-shadow: inset 0 0 0.8rem 0 #0008;
        }

        &.danger {
            --bg-from-color: #c22;
            --bg-to-color: #a22b;
            color: #eee;

            &:hover {
                --bg-from-color: #d11;
                --bg-to-color: #b11b;
            }
        }

        &.primary {
            --bg-from-color: #0060cb80;
            --bg-to-color: #0060cbff;
            color: #eee;

            &:hover {
                --bg-from-color: #0070db80;
                --bg-to-color: #0070dbff;
            }
        }

        &.large {
            font-size: 1.2em;
        }

        &.xl {
            font-size: 1.4em;
        }
    }

    img {
        transition: opacity 200ms;
    }
}
.button:hover {
    opacity: 1;
}
.button:active {
    img {
        opacity: 0.6;
    }
}

#hintbar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-image: linear-gradient(to top, #222, #333e 0.2em, #333d);
    color: white;
    overflow: hidden;
    max-height: 2em;
    transition: max-height 200ms, padding 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    .hint {
        font-size: 0.72em;
        padding-bottom: 0.16em;

        &::after {
            content: 'Right click for controls';
            font-variant: all-small-caps;
        }
    }
}

#content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.badge {
    display: inline-block;
    --hue: 90deg;
    color: #fff;
    vertical-align: middle;
    line-height: 1;
    font-variant: all-small-caps;
    font-weight: bold;
    background-image: linear-gradient(to bottom,
        hsla(var(--hue), 70%, 40%, 0.86),
        hsla(var(--hue), 87%, 50%, 0.86));
    border-radius: 0.28em;
    padding: 0.1em 0.5em 0.2em;
    text-shadow: 0 0 1px #000;
}

dialog {
    border-radius: 0.3em;
    background-image: linear-gradient(to right, #fff, #ccc);
    padding: 0;
    box-shadow: 1px 1px 5px #000a;
    border-color: #222e;
    font-size: 0.9rem;

    &::backdrop {
        background-color: #0007;
    }

    header {
        padding: 0.5em;
        background-image: linear-gradient(to bottom, #444, #333);
        font-size: 1.2em;
        color: white;
    }

    form {
        padding: 1em 1em 0 1em;
        font-variant-numeric: tabular-nums;
    }

    footer {
        padding: 1em 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    button {
        padding: 0.3em 1em;
        border-radius: 0.4em;
        background-color: #666;
        color: white;
        margin-right: 0.5em;
        opacity: 0.8;
        transition: opacity 100ms, box-shadow 100ms;
        cursor: pointer;
        border: 1.5px solid #0005;

        &.primary {
            background-color: #0060cb;
        }

        &:hover {
            opacity: 1;
            box-shadow: 1px 1px 2px #0004;
        }

        &:active {
            box-shadow: inset 0 0 5px #0006;
        }
    }
}

.unlocked [data-field] {
    cursor: pointer;
}

footer.legal {
    flex: 1 0 auto;
    padding: 1em;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0.5;
    width: 100%;

    > * {
        padding: 0 0.5em;
    }

    a:not(:hover) {
        text-decoration: none;
    }
}
