@use 'color';

$header-height: 13mm;

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-VariableFont_wght.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: 'Jost';
    font-style: italic;
    src: url('../fonts/Jost-Italic-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 100 700;
    src: url('../fonts/MaterialSymbolsRounded.woff2') format('woff2');
}

@keyframes pournshake {
    0%,
    60%,
    100% { transform: translate(0, 0)           rotate(var(--tilt))      scale(1);   }
    30%  { transform: translate(0, 0)           rotate(calc(var(--tilt) + 180deg)) scale(1.2); }
    32%  { transform: translate(0.2em, 0.2em)   rotate(calc(var(--tilt) + 185deg)) scale(1.2); }
    34%  { transform: translate(-0.2em, 0)      rotate(calc(var(--tilt) + 175deg)) scale(0.8); }
    36%  { transform: translate(0.2em, 0.1em)   rotate(calc(var(--tilt) + 180deg)) scale(1.2); }
    38%  { transform: translate(-0.2em, -0.2em) rotate(calc(var(--tilt) + 185deg)) scale(0.8); }
    40%  { transform: translate(0.2em, 0.2em)   rotate(calc(var(--tilt) + 185deg)) scale(1.2); }
    42%  { transform: translate(-0.2em, 0)      rotate(calc(var(--tilt) + 175deg)) scale(0.8); }
    44%  { transform: translate(0.2em, 0.1em)   rotate(calc(var(--tilt) + 180deg)) scale(1.2); }
    46%  { transform: translate(-0.2em, -0.2em) rotate(calc(var(--tilt) + 185deg)) scale(0.8); }
}

:root {
    --tilt: 0deg;

    --theme-base-color: #000;

    --theme-bookend-hue: 0;
    --theme-bookend-sat: 0%;
    --theme-bookend-light: 13%;
    --theme-bookend-shade-dir: 1;

    --theme-bg-hue: 0;
    --theme-bg-sat: 100%;
    --theme-bg-light: 36%;
    --theme-bg-shade-dir: 1;

    --theme-bg2-hue: 233;
    --theme-bg2-sat: 96%;
    --theme-bg2-light: 15%;
    --theme-bg2-shade-dir: 1;

    --theme-bg-alt-hue: 235;
    --theme-bg-alt-sat: 96%;
    --theme-bg-alt-light: 4%;
    --theme-bg-alt-shade-dir: 1;

    --theme-bg-alt2-hue: 238;
    --theme-bg-alt2-sat: 80%;
    --theme-bg-alt2-light: 15%;
    --theme-bg-alt2-shade-dir: 1;

    --theme-fg-hue: 0;
    --theme-fg-sat: 0%;
    --theme-fg-light: 100%;
    --theme-fg-shade-dir: -1;

    --theme-primary-hue: 212;
    --theme-primary-sat: 100%;
    --theme-primary-light: 40%;
    --theme-primary-shade-dir: 1;

    --theme-following-hue: 125;
    --theme-following-sat: 73%;
    --theme-following-light: 57%;
    --theme-following-shade-dir: -1;

    --theme-follower-hue: 225;
    --theme-follower-sat: 73%;
    --theme-follower-light: 57%;
    --theme-follower-shade-dir: -1;

    --theme-marked-hue: 0;
    --theme-marked-sat: 2%;
    --theme-marked-light: 59%;
    --theme-marked-shade-dir: -1;

    --theme-negative-hue: 0;
    --theme-negative-sat: 85%;
    --theme-negative-light: 46%;
    --theme-negative-shade-dir: 1;

    --theme-positive-hue: 130;
    --theme-positive-sat: 60%;
    --theme-positive-light: 50%;
    --theme-positive-shade-dir: 1;

    --theme-button-bar-top-left: #1d0050de;
    --theme-button-bar-bottom-right: #2b0078de;
}

html[data-theme="bluepink"] {
    --theme-bg-hue: 204;
    --theme-bg-sat: 100%;
    --theme-bg-light: 40%;
    --theme-bg-shade-dir: 1;

    --theme-bg2-hue: 220;
    --theme-bg2-sat: 70%;
    --theme-bg2-light: 27%;
    --theme-bg2-shade-dir: 1;

    --theme-fg-hue: 0;
    --theme-fg-sat: 0%;
    --theme-fg-light: 100%;
    --theme-fg-shade-dir: -1;

    --theme-primary-hue: 354;
    --theme-primary-sat: 87%;
    --theme-primary-light: 52%;
    --theme-primary-shade-dir: 1;

    --theme-button-bar-top-left: #da072de0;
    --theme-button-bar-bottom-right: #770333;
}

html[data-theme="burgundy"] {
    --theme-bookend-hue: 25;
    --theme-bookend-sat: 96%;
    --theme-bookend-light: 15%;
    --theme-bookend-shade-dir: 1;

    --theme-bg-hue: 24;
    --theme-bg-sat: 90%;
    --theme-bg-light: 12%;
    --theme-bg-shade-dir: 1;

    --theme-bg2-hue: 20;
    --theme-bg2-sat: 58%;
    --theme-bg2-light: 16%;
    --theme-bg2-shade-dir: 1;

    --theme-bg-alt-hue: 0;
    --theme-bg-alt-sat: 96%;
    --theme-bg-alt-light: 35%;
    --theme-bg-alt-shade-dir: 1;

    --theme-bg-alt2-hue: 0;
    --theme-bg-alt2-sat: 32%;
    --theme-bg-alt2-light: 10%;
    --theme-bg-alt2-shade-dir: 1;

    --theme-fg-hue: 0;
    --theme-fg-sat: 0%;
    --theme-fg-light: 100%;
    --theme-fg-shade-dir: -1;

    --theme-primary-hue: 20;
    --theme-primary-sat: 100%;
    --theme-primary-light: 40%;
    --theme-primary-shade-dir: 1;

    --theme-negative-hue: 350;
    --theme-negative-sat: 50%;
    --theme-negative-light: 50%;
    --theme-negative-shade-dir: 1;

    --theme-button-bar-top-left: #937b19e0;
    --theme-button-bar-bottom-right: #819443;
}

html[data-theme="green"] {
    --theme-bg-hue: 132;
    --theme-bg-sat: 73%;
    --theme-bg-light: 43%;
    --theme-bg-shade-dir: 1;

    --theme-bg2-hue: 142;
    --theme-bg2-sat: 50%;
    --theme-bg2-light: 0%;
    --theme-bg2-shade-dir: 1;

    --theme-fg-hue: 0;
    --theme-fg-sat: 0%;
    --theme-fg-light: 100%;
    --theme-fg-shade-dir: -1;

    --theme-primary-hue: 0;
    --theme-primary-sat: 0%;
    --theme-primary-light: 10%;
    --theme-primary-shade-dir: 1;

    --theme-following-hue: 30;
    --theme-following-sat: 73%;
    --theme-following-light: 52%;
    --theme-following-shade-dir: -1;

    --theme-button-bar-top-left: #0008;
    --theme-button-bar-bottom-right: #000;
}

html[data-theme="light"] {
    --theme-base-color: #fff;

    --theme-bg-hue: 0;
    --theme-bg-sat: 0%;
    --theme-bg-light: 98%;
    --theme-bg-shade-dir: -1;

    --theme-bg2-hue: 0;
    --theme-bg2-sat: 0%;
    --theme-bg2-light: 82%;
    --theme-bg2-shade-dir: -1;

    --theme-bg-alt-hue: 0;
    --theme-bg-alt-sat: 10%;
    --theme-bg-alt-light: 90%;
    --theme-bg-alt-shade-dir: -1;

    --theme-bg-alt2-hue: 0;
    --theme-bg-alt2-sat: 12%;
    --theme-bg-alt2-light: 81%;
    --theme-bg-alt2-shade-dir: -1;

    --theme-fg-hue: 0;
    --theme-fg-sat: 0%;
    --theme-fg-light: 15%;
    --theme-fg-shade-dir: 1;

    --theme-button-bar-top-left: #aaac;
    --theme-button-bar-bottom-right: #ccc;
}

html[data-theme="transparent-light"] {
    &:not(.settings-mode):not(.settings-page):not(.frame) body:not(.transparent-bg) {
        --bg-opacity: 0;
    }

    --theme-base-color: transparent;

    --theme-bg-hue: 0;
    --theme-bg-sat: 0%;
    --theme-bg-light: 98%;
    --theme-bg-shade-dir: -1;

    --theme-bg2-hue: 0;
    --theme-bg2-sat: 0%;
    --theme-bg2-light: 82%;
    --theme-bg2-shade-dir: -1;

    --theme-bg-alt-hue: 0;
    --theme-bg-alt-sat: 10%;
    --theme-bg-alt-light: 90%;
    --theme-bg-alt-shade-dir: -1;

    --theme-bg-alt2-hue: 0;
    --theme-bg-alt2-sat: 12%;
    --theme-bg-alt2-light: 81%;
    --theme-bg-alt2-shade-dir: -1;

    --theme-fg-hue: 0;
    --theme-fg-sat: 0%;
    --theme-fg-light: 15%;
    --theme-fg-shade-dir: 1;

    --theme-button-bar-top-left: #aaac;
    --theme-button-bar-bottom-right: #ccc;
}

html[data-theme="dark"] {
    --theme-base-color: #000;

    --theme-bg-hue: 0;
    --theme-bg-sat: 0%;
    --theme-bg-light: 2%;
    --theme-bg-shade-dir: 1;

    --theme-bg2-hue: 0;
    --theme-bg2-sat: 0%;
    --theme-bg2-light: 18%;
    --theme-bg2-shade-dir: 1;

    --theme-fg-hue: 0;
    --theme-fg-sat: 0%;
    --theme-fg-light: 90%;
    --theme-fg-shade-dir: -1;

    --theme-button-bar-top-left: #333c;
    --theme-button-bar-bottom-right: #555e;
}

html[data-theme="transparent-dark"] {
    &:not(.settings-mode):not(.settings-page):not(.frame) body:not(.transparent-bg) {
        --bg-opacity: 0;
    }

    --theme-base-color: transparent;

    --theme-bg-hue: 0;
    --theme-bg-sat: 0%;
    --theme-bg-light: 2%;
    --theme-bg-shade-dir: 1;

    --theme-bg2-hue: 0;
    --theme-bg2-sat: 0%;
    --theme-bg2-light: 18%;
    --theme-bg2-shade-dir: 1;

    --theme-fg-hue: 0;
    --theme-fg-sat: 0%;
    --theme-fg-light: 90%;
    --theme-fg-shade-dir: -1;

    --theme-button-bar-top-left: #333b;
    --theme-button-bar-bottom-right: #555e;
}

html[data-theme="aqua"] {
    --theme-base-color: #99f;
    --theme-bookend-hue: 184;
    --theme-bookend-sat: 47%;
    --theme-bg-hue: 177;
    --theme-bg-sat: 71%;
    --theme-bg-light: 70%;
    --theme-bg2-hue: 203;
    --theme-bg2-light: 30%;
    --theme-fg-hue: 20;
    --theme-fg-sat: 30%;
    --theme-fg-light: 10%;
    --theme-fg-shade-dir: 1;
    --theme-button-bar-top-left: #08c4a8de;
    --theme-button-bar-bottom-right: #120d87de;
}

html[data-theme="watermelon"] {
    --theme-base-color: #ff1300;
    --theme-bookend-hue: 10;
    --theme-bookend-sat: 100%;
    --theme-bookend-light: 30%;
    --theme-bg-hue: 118;
    --theme-bg2-hue: 148;
    --theme-bg2-sat: 98%;
    --theme-bg2-light: 69%;
    --theme-fg-light: 10%;
    --theme-fg-shade-dir: 1;
    --theme-primary-hue: 235;
    --theme-button-bar-top-left: #eb0101de;
    --theme-button-bar-bottom-right: #782f00de;
}


img {
    -webkit-user-select: none;
    user-select: none;
}

ms {
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-variant: none;

    font-size: 1em;
    margin-bottom: 0.165em;
    vertical-align: middle;

    &[large] {
        font-size: 1.333em;
    }

    &[xl] {
        font-size: 1.666em;
    }

    &[xxl] {
        font-size: 2em;
    }

    &[small] {
        font-size: 0.8em;
    }

    &[xs] {
        font-size: 0.6em;
    }

    &[heavy] {
        font-weight: 800;
    }

    &[light] {
        font-weight: 200;
    }

    &[fill] {
        font-variation-settings: 'FILL' 1;
    }

    @keyframes alert-color-flash {
        from {
            color: #b01010;
        }

        50% {
            color: #f00;
        }

        to {
            color: #b01010;
        }
    }

    &.alert {
        animation: 1s alert-color-flash infinite;
    }

    &.warn {
        color: #dad00c;
    }

    &.caution {
        color: #9da665;
    }

    &.good {
        color: #16ad18;
    }
}

@keyframes highlight {
    from {
        filter: brightness(1);
    }

    33% {
        filter: brightness(0.80);
    }

    66% {
        filter: brightness(1.20);
    }

    to {
        filter: brightness(1);
    }
}

html {
    box-sizing: border-box;
    -webkit-user-select: none;

    user-select: none;
    font-family: 'Jost', sans-serif;

    &.highlight-window {
        animation-duration: 500ms;
        animation-name: highlight;
        animation-iteration-count: 2;
    }
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

html:not(.electron-mode) .electron-only {
    display: none !important;
}

img {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

*:not(:hover)::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar {
    width: 2.5mm;
    height: 2.5mm;
}
::-webkit-scrollbar-track {
    background-color: #1114;
}
::-webkit-scrollbar-thumb {
    border-radius: 1mm;
    background-color: #eeec;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #eee;
}
::-webkit-scrollbar-corner {
    background-color: #1114;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    --aspect-ratio: 9 / 16;
    padding: 3px; /* Required in windows to allow resize handles */
    background-color: rgba(127, 127, 127, 0.002); /* Using full transparency breaks on windows */
    font-size: clamp(2.2mm, 7vw, 18mm);

    &.use-aspect-ratio {
        font-size: clamp(2.2mm, 8vw, calc(var(--aspect-ratio) * 8 * 1vh));
    }

    &.browser-mode {
        background-color: black;
        padding: 0;
    }

    &.settings-page {
        padding: 0;

        &, body {
            font-size: 4.2mm;
        }

        #content {
            overflow: auto;
            overflow: overlay;
        }
    }
}

#settings {
    padding: 0.5em 0.8em;
    overflow: auto;
    overflow: overlay;

    > .section {
        padding: 0.5em;

        &:not(:last-child) {
            border-bottom: 1px solid #fff2;
        }

        .title {
            font-size: 1.3em;
            opacity: 0.9;
            padding: 0.2em 0 0.5em;
            font-variant: all-small-caps;
            font-weight: bold;
        }
    }
}

form {
    padding: 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    hr {
        width: calc(100% - 0.5em);
        border: none;
        border-bottom: 1px solid #fff3;
    }
}

input, select {
    padding: 0.2em 0.2em;
    border-radius: 0.28em;
    font-size: 0.9em;
    background-color: #fcfcfc;
    outline-color: #08f;
    border-style: solid;

    &:focus {
        outline-style: solid;
    }
}

input[type="number"] {
    width: 8ch;

    &.no-increment {
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

form label {
    display: flex;
    align-items: center;
    margin-bottom: 0.4em;

    &.disabled {
        opacity: 0.4;
    }

    &.edited .restart-required::after {
        content: 'Restart Required';
        font-variant: all-small-caps;
        display: inline-block;
        font-size: 0.9em;
        margin-left: 0.2em;
        margin-right: 0.2em;
        color: #e5d82b;
        font-weight: 500;
    }

    key {
        display: inline-block;
        margin-right: 0.4em;
        min-width: 16ch;

        + input[type="checkbox"] {
            margin-left: 1px;
        }
        + span {
            margin-left: 2px;
        }

        img.fa {
            filter: invert(0.9);
            width: 1em;
        }
    }

    input, select {
        margin-right: 0.2em;
    }
}

html body {
    --bg-opacity: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    color: color.get(fg);
    transition: --bg-opacity 1s;
    background-image: linear-gradient(135deg,
        color.get(bg, calc(var(--bg-opacity) * 100%)),
        color.get(bg2, calc(var(--bg-opacity) * 100%)));

    &.alt-background {
        background-image: linear-gradient(135deg,
            color.get(bg-alt, calc(var(--bg-opacity) * 100%)),
            color.get(bg-alt2, calc(var(--bg-opacity) * 100%)));
    }
}

html.electron-mode:not(.frame) > body {
    border-radius: 2mm;

    #titlebar header {
        .logo,
        .title,
        .filler {
            app-region: drag;
            cursor: move;
        }
    }
}

html:not(.browser-mode):not(:hover) body.transparent-bg {
    --bg-opacity: 0;
}
html:not(.browser-mode):hover body.transparent-bg {
    --bg-opacity: 0.7 !important;
}

html:not(.settings-mode):not(.settings-page) #titlebar:not(.always-visible),
html.settings-mode #hintbar,
html:not(:hover) #hintbar {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

html:not(.settings-mode):not(.settings-page) #titlebar:not(.always-visible) header {
    .logo,
    .title,
    .filler {
        app-region: initial !important;
        cursor: unset !important;
    }
}

html:not(.settings-page) #titlebar:not(.always-visible) {
    position: absolute;
}

/* same size on all windows */
#hintbar {
    font-size: 5mm;
}

.button-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    background-image: linear-gradient(135deg, var(--theme-button-bar-top-left), var(--theme-button-bar-bottom-right));
    overflow: hidden;
    font-size: 1rem;

    .button {
        padding: 1em 0.6em;
        flex: 1 1 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: #fff3;
        }

        &:active {
            background: #0003;
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.2;
        }

        > img {
            height: 1.2em !important;
            filter: invert(1);
        }
    }
}

#titlebar {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    color: white;
    overflow: hidden;
    max-height: calc($header-height + 3.5rem); // Roughly fixed header plus optional button bar
    transition: max-height 300ms, padding 300ms;
    box-shadow: 0 1px 5px #0009;

    .button {
        border-radius: 0.22em;

        > img {
            height: 0.85em;
            filter: invert(1);
        }

        &:hover {
            background-color: #fff3;
        }

        &:active {
            background-color: #0003;
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.2;
        }
    }

    header {
        font-size: 5.2mm;
        flex: 0 0 auto;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $header-height;
        background-image: linear-gradient(to top, color.shade(bookend, 0%), color.shade(bookend, 12%));
        color: color.shade(bookend, 100%);
        padding-right: 0.3em;

        .logo,
        .title,
        .filler {
            height: 100%;
        }

        .filler {
            flex: 1 1 0;
        }

        .logo {
            padding: 0.4em 0 0.4em 0.2em;

            img {
                --tilt: -20deg;
                transform: rotate(var(--tilt));
                height: 100%;
            }
        }

        .logo + .title {
            padding-left: 0;
        }

        .title {
            flex: 0 1 auto;
            display: flex;
            align-items: center;
            font-size: 0.8em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 0.3em;

            &:first-child {
                padding-left: 0.8em;
            }
        }

        .button {
            padding: 0.05em 0.3em;

            ms {
                font-weight: 300;
            }
        }

        .buttons {
            flex: 0 0 auto;
            display: flex;
            align-items: center;

            .button > img {
                height: 0.90em;
                filter: invert(1);
            }
        }

        input, select {
            font-size: 0.7em;
            margin: 0 0 0 1em;
            background: #111;
            color: #fff;
            border-color: #3333;
        }
    }
}

.electron-mode .app-drag {
    app-region: drag;
    cursor: move;
}

@property --bg-from-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #0000;
}
@property --bg-to-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #0000;
}

.button-group {
    display: flex;
    flex-wrap: wrap;

    .button {
        flex: 1;
    }
}

a.std.button {
    text-decoration: none;
}

.button {
    cursor: pointer;
    opacity: 0.80;
    transition: opacity 200ms, background 200ms;

    &.std {
        --bg-from-color: #{color.shade(fg, 0%)};
        --bg-to-color: #{color.shade(fg, 15%)};
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        color: #000;
        color: color.shade(fg, 100%);
        background-image: linear-gradient(180deg, var(--bg-from-color), var(--bg-to-color));
        border-radius: 0.15rem;
        margin: 0.1rem 0.2rem;
        padding: 0.1rem 1rem;
        box-shadow: none;
        transition: box-shadow 100ms, --bg-from-color 150ms, --bg-to-color 150ms;

        &:hover {
            --bg-from-color: #{color.shade(fg, 0%)};
            --bg-to-color: #{color.shade(fg, 5%)};
            box-shadow: 0.05rem 0.05rem 0.4rem 0 #0004;
        }

        &:active {
            box-shadow: inset 0 0 0.8rem 0 #0008;
        }

        &.danger {
            --bg-from-color: #{color.shade(negative, 0%)};
            --bg-to-color: #{color.shade(negative, -10%)};
            color: color.shade(negative, 100%);

            &:hover {
                --bg-from-color: #{color.shade(negative, 5%)};
                --bg-to-color: #{color.shade(negative, -5%)};
            }
        }

        &.primary {
            --bg-from-color: #{color.shade(primary, 0%)};
            --bg-to-color: #{color.shade(primary, -10%)};
            color: color.shade(primary, 100%);

            &:hover {
                --bg-from-color: #{color.shade(primary, 5%)};
                --bg-to-color: #{color.shade(primary, -5%)};
            }
        }

        &.large {
            font-size: 1.2em;
        }

        &.xl {
            font-size: 1.4em;
        }
    }

    img {
        transition: opacity 200ms;
    }
}
.button:hover {
    opacity: 1;
}
.button:active {
    img {
        opacity: 0.6;
    }
}

#hintbar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-image: linear-gradient(to top,
        color.shade(bookend, 0%),
        color.shade(bookend, 7%, 90%) 0.2em,
        color.shade(bookend, 7%, 80%));
    color: color.shade(bookend, 100%);
    overflow: hidden;
    max-height: 2em;
    transition: max-height 200ms, padding 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;

    .hint {
        font-size: 0.72em;
        padding-bottom: 0.16em;

        &::after {
            content: 'Right click for controls';
            font-variant: all-small-caps;
        }
    }
}

@media (hover: none) {
    #hintbar .hint::after {
        content: 'Long press for controls';
    }
}

#content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.badge {
    display: inline-block;
    --hue: 90deg;
    color: #fff;
    vertical-align: middle;
    line-height: 1;
    font-variant: all-small-caps;
    font-weight: bold;
    background-image: linear-gradient(to bottom,
        hsla(var(--hue), 70%, 40%, 0.86),
        hsla(var(--hue), 87%, 50%, 0.86));
    border-radius: 0.28em;
    padding: 0.1em 0.5em 0.2em;
    text-shadow: 0 0 1px #000;
}

dialog {
    border-radius: 0.3em;
    background-image: linear-gradient(to right, #fff, #ccc);
    padding: 0;
    box-shadow: 1px 1px 5px #000a;
    border-color: #222e;
    font-size: 0.9rem;

    &::backdrop {
        background-color: #0007;
    }

    header {
        background-image: linear-gradient(to top, color.shade(bookend, 0%), color.shade(bookend, 12%));
        color: color.shade(bookend, 100%);
        font-size: 1.2em;
        padding: 0.5em;
    }

    form {
        padding: 1em 1em 0 1em;
        font-variant-numeric: tabular-nums;
    }

    footer {
        padding: 1em 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    button {
        padding: 0.3em 1em;
        border-radius: 0.4em;
        background-color: #666;
        color: white;
        margin-right: 0.5em;
        opacity: 0.8;
        transition: opacity 100ms, box-shadow 100ms;
        cursor: pointer;
        border: 1.5px solid #0005;

        &.primary {
            background-color: #0060cb;
        }

        &:hover {
            opacity: 1;
            box-shadow: 1px 1px 2px #0004;
        }

        &:active {
            box-shadow: inset 0 0 5px #0006;
        }
    }
}

.unlocked [data-field] {
    cursor: pointer;
}

footer.legal {
    flex: 1 0 auto;
    padding: 1em;
    font-size: 3.4mm;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0.5;
    width: 100%;

    > * {
        padding: 0 0.5em;
    }

    a:not(:hover) {
        text-decoration: none;
    }
}
