@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes highlight {
  from {
    filter: brightness(1);
  }

  50% {
    filter: brightness(1.5);
  }

  to {
    filter: brightness(1);
  }
}

html {
    box-sizing: border-box;
    user-select: none;

    &.highlight-window {
        animation-duration: 500ms;
        animation-name: highlight;
        animation-iteration-count: 3;
    }
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

html:not(.electron-mode) .electron-only {
    display: none;
}

img {
    display: block;
}

a {
    color: inherit;
}

*:not(:hover)::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
::-webkit-scrollbar-track {
    margin: 0.22rem;
    border-radius: 1rem;
    background-color: #1114;
}
::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #eeec;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #eee;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    --aspect-ratio: 9 / 16;
    padding: 3px; /* Required in windows to allow resize handles */
    background-color: rgba(127, 127, 127, 0.002); /* Using full transparency breaks on windows */
    font-size: clamp(10px, 7vw, 30px);

    &.use-aspect-ratio {
        font-size: clamp(10px, 8vw, calc(var(--aspect-ratio) * 8 * 1vh));
    }

    &.browser-mode {
        background-color: black;
    }

    &.settings-page {
        padding: 0;
        font-size: 18px;

        body {
            border-radius: 0;
        }

        #content {
            overflow: auto;
            overflow: overlay;
        }
    }
}

#settings {
    font-size: 16px;
    padding: 1em;
    overflow: auto;
    overflow: overlay;
}

form {
    padding: 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input, select {
    padding: 0.2em 0.2em;
    border-radius: 0.28em;
    font-size: 0.9em;
    background-color: #fcfcfc;
    outline-color: #08f;
    border-style: solid;

    &:focus {
        outline-style: solid;
    }
}

input[type="number"] {
    width: 8ch;
}

form label {
    display: flex;
    align-items: center;
    margin-bottom: 0.4em;

    &.disabled {
        opacity: 0.4;
    }

    &.edited .restart-required::after {
        content: 'Restart Required';
        font-variant: all-small-caps;
        display: inline-block;
        font-size: 0.9em;
        margin-left: 0.2em;
        color: #e5d82b;
        font-weight: 500;
    }

    key {
        display: inline-block;
        margin-right: 0.4em;
        min-width: 16ch;

        + input[type="checkbox"] {
            margin-left: 1px;
        }
        + span {
            margin-left: 2px;
        }

        img.fa {
            filter: invert(0.9);
            width: 1em;
        }
    }

    input, select {
        margin-right: 0.2em;
    }
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Jost', sans-serif;
    border-radius: 0.3rem;
}
body.transparent-bg {
    transition: background 200ms;
}
html body {
    background-image: linear-gradient(135deg, #db0000de, transparent),
                      linear-gradient(315deg, #020e64d1, transparent);
}
html:not(.browser-mode) body:not(.transparent-bg) {
    background-color: #000;
}
html:not(.browser-mode):not(:hover) body.transparent-bg {
    background: transparent;
}

html:not(.settings-mode):not(.settings-page) #titlebar:not(.always-visible),
html.settings-mode #hintbar,
html:not(:hover) #hintbar {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;

    .app-drag {
        -webkit-app-region: initial;
    }
}

#titlebar,
#hintbar {
    font-size: 18px; /* same size on all windows */
}

#titlebar {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    color: white;
    overflow: hidden;
    max-height: 6em;
    transition: max-height 200ms, padding 200ms;
    box-shadow: 0 1px 5px #0009;

    &:not(.always-visible) {
        position: absolute;
    }
    .always-visible {
        position: relative;
    }

    .button {
        img {
            height: 0.85em;
            filter: invert(1);
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.2;
        }
    }

    header {
        flex: 0 0 auto;
        max-width: 100%;
        display: flex;
        align-items: center;
        padding: 0.5em;
        background-image: linear-gradient(to top, #222, #333);

        .title {
            font-size: 0.8em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .button.move {
            padding: 0 0.4em 0 0;
        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 1 0 auto;

            .button {
                padding-left: 0.4em;

                img {
                    height: 0.85em;
                    filter: invert(1);
                }
            }
        }
    }

    .button-bar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1 0 auto;
        background-image: linear-gradient(135deg, #1d0050de, #2b0078de);
        overflow: hidden;

        .button {
            padding: 1em 0.6em;
            flex: 1 1 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity 200ms, background 200ms;

            &:hover {
                background: #0003;
            }

            &:active {
                background: #0008;
            }

            img {
                height: 1.2em;
                filter: invert(1);
            }
        }
    }
}
html.settings-page #titlebar {
    position: relative;
}

.electron-mode .app-drag {
    -webkit-app-region: drag;
    cursor: move !important;
}

.button {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 200ms;

    img {
        transition: opacity 200ms;
    }
}
.button:hover {
    opacity: 1;
}
.button:active {
    img {
        opacity: 0.6;
    }
}

#hintbar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-image: linear-gradient(to top, #222, #333e 0.2em, #333d);
    color: white;
    overflow: hidden;
    max-height: 2em;
    transition: max-height 200ms, padding 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    .hint {
        font-size: 0.72em;
        padding-bottom: 0.16em;

        &::after {
            content: 'Right click for controls';
            font-variant: all-small-caps;
        }
    }
}

#content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

dialog {
    border-radius: 0.3em;
    background-image: linear-gradient(to right, #fff, #ccc);
    padding: 0;
    box-shadow: 1px 1px 5px #000a;
    border-color: #222e;

    header {
        padding: 0.5em;
        background-image: linear-gradient(to bottom, #444, #222 1em);
        font-size: 1.2em;
        color: white;
    }

    form {
        padding: 1em 1em 0 1em;
        font-variant-numeric: tabular-nums;
    }

    footer {
        padding: 1em 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    button {
        padding: 0.3em 1em;
        border-radius: 0.4em;
        background-color: #666;
        color: white;
        margin-right: 0.5em;
        opacity: 0.8;
        transition: opacity 100ms, box-shadow 100ms;
        cursor: pointer;
        border: 1.5px solid #0005;

        &.primary {
            background-color: #0060cb;
        }

        &:hover {
            opacity: 1;
            box-shadow: 1px 1px 2px #0004;
        }

        &:active {
            box-shadow: inset 0 0 5px #0006;
        }
    }
}

.unlocked [data-field] {
    cursor: pointer;
}

footer.legal {
    flex: 1 0 auto;
    padding: 1em;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0.5;
    width: 100%;

    > * {
        padding: 0 0.5em;
    }

    a:not(:hover) {
        text-decoration: none;
    }
}
