html {
    padding: 0;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {}

hr {
    border-style: solid;
    opacity: 0.3;
}

body {
    --bg-opacity: 0.94 !important;
    border-radius: 0;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img.logo {
    height: 80px;
    transform: rotate(-24deg);
    margin-right: 2.2rem;
    margin-left: 0.5rem;
}

body > header {
    display: flex;
    align-items: center;
    justify-content: center;
}

body > main {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#detail:not(:empty) {
    padding: 0.8rem 1.6rem;
    margin-bottom: 0.8rem;
    border-radius: 0.28rem;
    background-color: #0003;
}

footer:not(:empty) {
    font-size: 0.86em;
    opacity: 0.9;
    margin-top: 1rem;
    padding: 1rem;
}

.hidden {
    display: none;
}

#buttons {
    display: flex;

    &:not(.hidden) {
        margin-top: 1rem;
    }
}

#buttons > .button {
    padding: 0.25em 1.4em;
}

#buttons > .button:not(:last-child) {
    margin-right: 0.4rem;
}
