@use 'color';

// Custom shadow since we often overlay a same-theme window..
html {
    padding: 6px !important;

    body {
        box-shadow: 1px 1px 4px 0 #000a !important;
    }
}

html {
    font-size: 16px;
}

h1, h2, h3, h4, h5 {}

hr {
    border-style: solid;
    opacity: 0.3;
}

html body {
    --bg-opacity: 0.98 !important;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto !important;
    --dialog-outline-size: 0.4rem;
    --dialog-outline-color: #{color.shade(intrinsic-inverted, 5%, 0.5)};
    outline: var(--dialog-outline-size) solid var(--dialog-outline-color, #111e) !important;
    outline-offset: calc(-1 * var(--dialog-outline-size)) !important;
}

img.logo {
    height: 76px;
    transform: rotate(-26deg);
    margin-right: 2.2rem;
    margin-left: 1.0rem;
}

body > header {
    display: flex;
    align-items: center;
    justify-content: center;
}

body > main {
    flex: 1 0 auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#detail:not(:empty) {
    padding: 0.8rem 1.6rem;
    margin-bottom: 0.8rem;
    border-radius: 0.28rem;
    background-color: #0003;
}

footer:not(:empty) {
    font-size: 0.86em;
    opacity: 0.9;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.hidden {
    display: none;
}

#buttons {
    display: flex;

    &:not(.hidden) {
        margin-top: 1rem;
    }
}

#buttons > .button {
    padding: 0.25em 1.4em;
}

#buttons > .button:not(:last-child) {
    margin-right: 0.4rem;
}
