@use 'color';
@import 'profile_tpl';

html {
    padding: 0;
}

html, body {
    font-size: 4.2mm;
}

#content > table {
    user-select: text;

    > thead {
        position: sticky;
        z-index: 1;
        top: 0;
        background-image: linear-gradient(to bottom, color.shade(bg, -10%), color.shade(bg, 0%));
    }
}


table {
    border-collapse: collapse;

    thead th {
        font-variant: all-small-caps;
        font-weight: 500;
    }

    &.events {
        > tbody > tr {
            scroll-margin-top: 4.58em;  // roughly one extra row plus header height

            &.started > td {
                opacity: 0.5;
            }

            &.hidden {
                display: none;
                + tr {
                    display: none;
                }
            }

            > td.type {
                font-variant: all-small-caps;
                font-weight: 600;
            }

            > td.name {
                max-width: 30vw;
            }

            > td.groups {
                font-size: 0.7em;

                > * {
                    margin-left: 0.2em;
                }
            }
        }
    }

    abbr.unit {
        font-size: 0.82em;
        opacity: 0.8;
        margin-left: 0.1em;
    }

    > thead > tr > th,
    > tbody > tr > td {
        padding: 0.4em;
        text-align: left;

        &:first-child {
            padding-left: 1.5em;
        }
        &:last-child {
            padding-right: 1.5em;
        }
    }

    tbody tr {
        transition: background 100ms;

        &:hover {
            background-color: #0355;
        }
    }

    &.expandable {
        > tbody > tr {
            &:nth-child(4n - 1) {
                background-color: #0001;

                &:hover {
                    background-color: #0354;
                }
            }

            &:nth-child(2n - 1) {
                &:not(.expanded) + tr {
                    display: none;
                }
            }

            &.summary {
                cursor: pointer;

                > td {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            &.expanded,
            &.details {
                background-color: color.shade(bg2, 20%, 10%) !important;
            }

            &.expanded {
                border-top: 0.2em solid color.shade(fg, 10%, 50%);

                > td {
                    padding-top: 1em;
                    padding-bottom: 0.5em;
                    font-weight: bold;
                }
            }

            &.details {
                border-bottom: 0.2em solid color.shade(fg, 10%, 50%);

                > td {
                    padding-top: 0.5em;
                    padding-bottom: 1em;

                    > .container {
                        background-color: color.shade(bg2, 60%, 10%);
                        padding: 1.5em;
                        border-radius: 0.28em;
                        box-shadow: 1px 1px 5px #0003;

                        &:empty {
                            min-height: 5em;

                            &::after {
                                font-size: 2em;
                                content: 'Loading...'
                            }
                        }
                    }
                }
            }
        }
    }

    .event-info {
        max-height: max(400px, 20vh);
        overflow: auto;
        overflow: overlay;

        .desc {
            white-space: pre-line;
        }
    }

    .badge {
    }

    .subgroups {
        .event-subgroup {
            margin: 1em 0 2em;
            padding: 1em;
            background: #0300001f;
            border-radius: 0.3em;

            header {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                .badge {
                    font-size: 1.4em;
                    margin-right: 0.3em;
                    align-self: flex-start;
                }

                .name {
                    font-weight: 600;
                }
            }
        }

        table.entrants {
            width: 100%;
            margin-top: 1em;
            border-radius: 0.3em;
            overflow: hidden;

            thead tr {
                background-color: #0003;
            }

            ms.in-game {
            }

            ms.power {
                color: gold;
            }

            ms.female {
                color: #eb09eb;
            }

            ms.following {
                color: color.get(following);
            }

            ms.marked {
                color: color.get(marked);
            }

            .details {
                > td {
                    padding: 0;
                }

                .container {
                    background-color: transparent;
                    padding: 0;
                }
            }
        }
    }

    .card {
        float: right;
        max-width: clamp(50%, 400px, 100%);
        margin-left: 0.5em;
        margin-bottom: 0.5em;
        border-radius: 0.5em;
        background: #1117;
        overflow: hidden;

        img.event-image {
            width: 100%;
        }

        .meta {
            padding: 1em;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            ms {
                opacity: 0.8;
            }

            > * {
                padding: 0.2em;
            }
        }
    }
}

#titlebar {
    position: initial !important;
}

#content {
    scroll-behavior: smooth;
    padding: 0;
    overflow: auto;
    overflow: overlay; // chromium only
}

.details .container .profile {
    .avatar {
        font-size: 0.6em;
        flex-basis: 200px;
    }

    header.title {
        display: contents;
        background: none;
        color: #f0f0f0;

        .buttons {
            padding: 0.2em 0.5em 0;
        }

        .name {
            display: none;
        }
    }
}

@media only screen and (max-width: 600px)  {
    html, body {
        font-size: 3.7mm;
    }

    table {
        table-layout: fixed;
        width: 100%;

        > thead > tr > th,
        > tbody > tr > td {
            &:first-child {
                padding-left: 0.5em;
            }

            &:last-child {
                padding-right: 0.5em;
            }
        }

        td[colspan] {
            padding-top: 0 !important;
            padding-left: 0;
            padding-right: 0;

            > .container {
                padding: 0.4em !important;

                .event-subgroup {
                    padding: 0.4em !important;
                }
            }
        }

        &.events {

            > thead > tr > {
                th.name {
                    visibility: hidden;
                    width: 0;
                    padding: 0;
                    margin: 0;
                }
            }

            > tbody > tr.summary {
                position: relative;

                &.expanded > td.name {
                    padding-top: 0.2em;
                }

                > td.name {
                    max-width: initial;
                    position: absolute;
                    top: 0.2em;
                    left: 0.4em;
                    width: calc(100% - 0.8em);
                    font-weight: 500;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                > td:not(.name) {
                    padding-top: 2.1rem;
                    padding-bottom: 0.5rem;
                }
            }
        }

        .subgroups .event-subgroup header .name {
            padding: 0.7em 0.2em 0;
        }

        &.entrants {
            > thead > tr {
                th.active,
                th.power {
                    opacity: 0;
                    visibility: hidden;
                    width: 1em;
                }
            }
        }
    }
}
