@use 'color';
@import 'profile_tpl';
@import 'expandable-table';

html {
    font-size: 4.1mm;
}

#content > table {
    user-select: text;

    > thead:not(.loader) {
        position: sticky;
        z-index: 1;
        top: 0;
        background-image: linear-gradient(to bottom, color.shade(bg, -10%), color.shade(bg, 0%));
    }
}

.trophy {
    font-size: 1.3em;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.65em;
    color: color.shade(intrinsic-inverted, 10%, 0.8);
    text-align: center;
    box-shadow: 1px 1px 3px 0 #0002;
    margin-bottom: 0;

    &.gold {
        background-color: gold;
    }
    &.silver {
        background-color: silver;
    }
    &.bronze {
        background-color: #cd7f32;
    }
}


table {
    border-collapse: collapse;

    thead:not(.loader) th {
        font-variant: all-small-caps;
        font-weight: 500;
    }

    thead.loader,
    tfoot.loader {
        background-image: linear-gradient(to bottom, color.shade(intrinsic, 30%), color.shade(intrinsic, 15%));
        color: color.shade(intrinsic-inverted, 0%);
        transition: opacity 200ms;
        opacity: 0.7;
        cursor: pointer;
        font-variant: all-small-caps;

        &.loading {
            pointer-events: none;
            opacity: 0.2;
        }

        &:not(.loading):hover {
            opacity: 1;
        }

        td {
            text-align: center;
            padding: 0.3em;
        }
    }

    &.events {
        > tbody > tr {
            scroll-margin-top: 2.38em;  // roughly header height

            &.started > td {
                opacity: 0.5;
            }

            &.signedup {
                background-color: color.shade(intrinsic-inverted, 0%, 0.5);
                color: color.shade(intrinsic, 0%);
                outline: 4px solid color.get(bg2);
                outline-offset: -4px;

                &:not(.expanded):hover {
                    background-color: color.shade(intrinsic-inverted, 18%, 0.9) !important;
                }
            }

            &.hidden {
                display: none;
                + tr {
                    display: none;
                }
            }

            > td.start {
                font-size: 0.92em;
            }

            > td.type {
                font-size: 0.8em;
                font-weight: 500;
            }

            > td.name {
                max-width: 30vw;
            }

            > td.groups {
                font-size: 0.86em;

                > * {
                    margin-left: 0.1em;
                }
            }
        }
    }

    abbr.unit {
        font-size: 0.9em;
        opacity: 0.9;
        margin-left: 0.1em;
        font-variant: all-small-caps;
    }

    > thead > tr > th,
    > tbody > tr > td {
        padding: 0.4em;
        text-align: left;

        &:first-child {
            padding-left: 1.5em;
        }
        &:last-child {
            padding-right: 1.5em;
        }
    }

    &.expandable {
        > tbody > tr {
            &.summary > td {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &.details .container {
                background-color: color.shade(intrinsic-inverted, 0%, 0.1);
                padding: 1.5em;
                border-radius: 0.28em;
                box-shadow: 1px 1px 5px #0003;
                max-height: 80vh;
                overflow: auto;

                &:empty {
                    min-height: 5em;

                    &::after {
                        font-size: 2em;
                        content: 'Loading...'
                    }
                }
            }

            &.expanded,
            &.expanded + tr.details {
                background-color: color.shade(primary, 3%, 0.8);
                color: color.shade(primary, 100%);
            }
        }
    }

    .event-info .desc {
        white-space: pre-line;
        line-height: 1.4; // condense a bit
    }

    .event-info .tags {
        margin-top: 1em;

        .badge {
            --sat: 0;
            padding: 0.45em 0.5em 0.2em;
        }
    }

    .subgroups {
        .event-subgroup {
            margin: 1em 0 2em;
            padding: 1em;
            background: #0300001f;
            border-radius: 0.3em;

            header {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                background-image: linear-gradient(to bottom,
                    color.shade(intrinsic-inverted, 0%, 0.3),
                    color.shade(intrinsic-inverted, 0%, 0.85));
                border-radius: 0.28em;
                padding: 1em;
                color: color.get(intrinsic);

                @media (min-width: 768px)  {
                    // Make it overlay band style
                    margin: 0 -1.5em;
                    padding: 1em 1.25em;
                }

                .label {
                    display: flex;
                    align-items: center;

                    .button[data-action] {
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 0.74em;

                        ms {
                            font-size: 1.2em;
                            margin-left: -0.4em;
                            margin-right: 0.15em;
                        }
                    }
                }

                .badge {
                    font-size: 1.065em;
                    margin-right: 0.35em;
                    align-self: flex-start;
                }

                .name {
                    font-weight: 600;
                }
            }
        }

        .elevation-chart {
            font-size: 2.5em;
            height: 3em;
            margin: -0.5em 0 0;
            mix-blend-mode: luminosity;
            background-image: linear-gradient(to top, color.get(intrinsic-inverted, 0.5), transparent 80%);
        }

        table.entrants {
            width: 100%;
            //margin-top: 1em; // XXX try without for elevtion profile butting
            border-radius: 0.3em;
            overflow: hidden;
            font-size: 0.9em;

            img.nation-flag {
                display: inline-block;
                height: 1.3em;
                margin-bottom: -0.36em;
            }

            > thead > tr {
                background-color: #0003;

                th.icon {
                    padding: 0;
                }
            }

            td.icon {
                padding: 0.1em;
                width: 0;
                text-align: center;

                ms {
                    font-size: 1.2em;

                    &.female {
                        font-size: 1.4em;
                        margin-left: -0.15em;
                        margin-right: -0.15em;
                    }
                }
            }

            ms.in-game { }
            ms.power { color: gold; }
            ms.female { color: #eb09eb; }
            ms.following { color: color.get(following); }
            ms.marked { color: color.get(marked); }

            .details {
                > td {
                    padding: 0;
                }

                .container {
                    background-color: transparent;
                    padding: 0;
                }
            }

            localized .milliseconds {
                font-size: 0.7em;
            }
        }
    }

    .card {
        float: right;
        max-width: clamp(50%, 400px, 100%);
        margin-left: 0.5em;
        margin-bottom: 0.5em;
        border-radius: 0.5em;
        background: #1117;
        overflow: hidden;

        img.event-image {
            width: 100%;
        }

        .meta {
            padding: 1em;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            ms {
                opacity: 0.8;
            }

            > * {
                padding: 0.2em;
            }
        }
    }
}

#titlebar {
    position: initial !important;
}

#content {
    scroll-behavior: smooth;
    padding: 0;
    overflow: auto;
}

.details .container .profile {
    .avatar {
        font-size: 0.6em;
        flex-basis: 240px;
    }

    header.title {
        display: contents;
        background: none;
        color: #f0f0f0;

        .buttons {
            margin: 0.2em 0.5em;
            padding: 0;
            border-radius: 0.28em;
            overflow: hidden;
            background-color: color.shade(intrinsic-inverted, 5%, 0.7);

            > a {
                height: 1.65em;
                flex: 1 1 0;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                text-decoration: none;

                &:not([disabled]):hover {
                    background-color: color.shade(intrinsic-inverted, 0%, 0.8);
                }
            }
        }

        .name {
            display: none;
        }
    }
}

@media only screen and (max-width: 768px)  {
    html, body {
        font-size: 3.7mm;
    }

    table {
        table-layout: fixed;
        width: 100%;

        > thead > tr > th,
        > tbody > tr > td {
            &:first-child {
                padding-left: 0.5em;
            }

            &:last-child {
                padding-right: 0.5em;
            }
        }

        td[colspan] {
            padding-top: 0 !important;
            padding-left: 0;
            padding-right: 0;

            > .container {
                padding: 0.4em !important;

                .event-subgroup {
                    padding: 0.4em !important;
                }
            }
        }

        &.events {
            > thead > tr > {
                th.name {
                    visibility: hidden;
                    width: 0;
                    padding: 0;
                    margin: 0;
                }
            }

            > tbody > tr.event-row {
                position: relative;

                &.expanded > td.name {
                    padding-top: 0.2em;
                }

                > td.name {
                    max-width: initial;
                    position: absolute;
                    top: 0.2em;
                    left: 0.4em;
                    width: calc(100% - 0.8em);
                    font-weight: 500;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-left: 0.04em;
                }

                > td:not(.name) {
                    padding-top: 2.1rem;
                    padding-bottom: 0.5rem;
                }
            }
        }

        .subgroups .event-subgroup header .name {
            padding: 0.7em 0.2em 0;
        }

        &.entrants {
            > thead > tr {
                display: none;
            }

            > tbody > tr.summary {
                position: relative;

                > td.icon {
                    width: 1.8ch !important;
                }

                > td.weight {
                    width: 10ch;
                }

                > td.name {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    padding-left: 0.3em;
                }

                > td:not(.name) {
                    padding-top: 2em !important;
                }
            }
        }
    }
}
