@use 'color';
@import url(profile_tpl.css);
@import url(expandable-table.css);

html {
    font-size: 4.1mm;
}

#content > table {
    user-select: text;

    > thead:not(.loader) {
        position: sticky;
        z-index: 1;
        top: 0;
        background-image: linear-gradient(to bottom, color.shade(bg, -10%), color.shade(bg, 0%));
    }
}

.trophy {
    font-size: 1.1em;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.65em;
    color: color.shade(intrinsic-inverted, 10%, 0.8);
    text-align: center;
    box-shadow: 1px 1px 3px 0 #0002;
    margin-bottom: 0;

    &.gold {
        background-color: gold;
    }
    &.silver {
        background-color: silver;
    }
    &.bronze {
        background-color: #cd7f32;
    }
}


table {
    border-collapse: collapse;

    thead:not(.loader) th {
        font-variant: all-small-caps;
        font-weight: 500;
    }

    thead.loader,
    tfoot.loader {
        background-image: linear-gradient(to bottom, color.shade(intrinsic, 30%), color.shade(intrinsic, 15%));
        color: color.shade(intrinsic-inverted, 0%);
        transition: opacity 200ms;
        opacity: 0.7;
        cursor: pointer;
        font-variant: all-small-caps;

        &.loading {
            pointer-events: none;
            opacity: 0.2;
        }

        &:not(.loading):hover {
            opacity: 1;
        }

        td {
            text-align: center;
            padding: 0.3em;
        }
    }

    &.events {
        > tbody > tr {
            scroll-margin-top: 2.38em;  // roughly header height

            &.started {
                > td {
                    opacity: 0.6;
                }

                &.joinable > td.start {
                    opacity: 1;
                    color: #ffc500;
                }

                &:not(.joinable) {
                    > td.start {
                        text-decoration: line-through;
                    }

                    + tr.details header .button.signup-action {
                        display: none;
                    }
                }
            }

            &.signedup {
                background-color: color.shade(intrinsic-inverted, 0%, 0.5);
                color: color.shade(intrinsic, 0%);
                outline: 4px solid color.get(bg2);
                outline-offset: -4px;

                &:not(.expanded):hover {
                    background-color: color.shade(intrinsic-inverted, 18%, 0.9) !important;
                }
            }

            &.hidden {
                display: none;
                + tr {
                    display: none;
                }
            }

            > td.start {
                font-size: 0.92em;
                font-stretch: 94%;
            }

            > td.type {
                font-size: 0.86em;
                font-weight: 500;
                font-stretch: 94%;
            }

            > td.name {
                max-width: 28vw;
            }

            > td.route {
                max-width: 11vw;
                font-weight: 310;
                font-style: italic;
                font-size: 0.92em;
                font-stretch: 91%;
            }

            > td.groups {
                font-size: 0.86em;

                > * {
                    margin-left: 0.1em;
                }
            }
        }
    }

    abbr.unit {
        font-size: 0.9em;
        opacity: 0.9;
        margin-left: 0.1em;
        font-variant: all-small-caps;
    }

    > thead > tr > th,
    > tbody > tr > td {
        padding: 0.4em 0.2em;;
        text-align: left;

        &:first-child {
            padding-left: 1.4em;
        }
        &:last-child {
            padding-right: 1.4em;
        }
    }

    &.expandable {
        > tbody > tr {
            &.summary > td {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &.details .container {
                background-color: color.shade(intrinsic-inverted, 0%, 0.1);
                padding: 1.5em;
                border-radius: 0.28em;
                box-shadow: 1px 1px 5px #0003;
                max-height: 80vh;
                overflow: auto;

                &:empty {
                    min-height: 5em;

                    &::after {
                        font-size: 2em;
                        content: 'Loading...'
                    }
                }
            }

            &.expanded,
            &.expanded + tr.details {
                background-color: color.shade(primary, 3%, 0.8);
                color: color.shade(primary, 100%, $saturate: -100%);
            }
        }
    }

    .event-info {
        display: flow-root;

        .card {
            float: right;
        }

        .desc {
            white-space: pre-line;
            line-height: 1.4; // condense a bit
        }

        .tags {
            margin-top: 1em;

            .badge {
                --sat: 0;
                padding: 0.45em 0.5em 0.2em;
            }
        }
    }

    .elevation-chart {
        font-size: 2.5em;
        height: 2em;
        mix-blend-mode: luminosity;
    }

    .subgroups {
        padding-top: 1em;

        .event-subgroup {
            margin: 1em 0 2em;
            padding: 1em;
            background: #0300001f;
            border-radius: 0.3em;
            font-variant-numeric: tabular-nums;

            &:not(.results) .only-results,
            &:not(.signups) .only-signups,
            &:not(.loading) .only-loading,
            &:not(.can-signup) .only-can-signup,
            &:not(.signedup) .only-signedup {
                display: none;
            }

            &:not(.signups) {
                header .button.signup-action {
                    display: none;
                }
            }

            header {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                background-image: linear-gradient(to bottom,
                    color.shade(intrinsic-inverted, 0%, 0.3),
                    color.shade(intrinsic-inverted, 0%, 0.85));
                border-radius: 0.28em;
                padding: 1em;
                color: color.get(intrinsic);

                @media (min-width: 768px)  {
                    // Make it overlay band style
                    margin: 0 -1.5em;
                    padding: 1em 1.25em;
                }

                .label {
                    position: relative;
                    display: flex;
                    align-items: center;

                    .group {
                        position: absolute;
                        top: -1.35em;
                        left: 1px;
                        font-variant: all-petite-caps;
                        font-weight: 800;
                        font-size: 0.85em;
                        opacity: 0.6;
                    }

                    .button[data-action] {
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 0.74em;

                        ms {
                            font-size: 1.2em;
                            margin-left: -0.4em;
                            margin-right: 0.15em;
                        }
                    }
                }

                .badge {
                    font-size: 1.065em;
                    margin-right: 0.35em;
                    align-self: flex-start;
                }

                .name {
                    font-weight: 600;

                    @media (min-width: 600px)  {
                        max-width: 40vw;
                    }
                }
            }
        }

        .elevation-chart {
            background-image: linear-gradient(to top, color.get(intrinsic-inverted, 0.5), transparent);
        }

        .elevation-chart + table.entrants {
            margin-top: 0;
        }

        table.entrants {
            width: 100%;
            margin-top: 1em;
            border-radius: 0.3em;
            overflow: hidden;
            font-size: 0.9em;

            img.nation-flag {
                display: inline-block;
                height: 1.3em;
                margin-bottom: -0.36em;
            }

            > tbody > tr.summary.self:not(.expanded) {
                clip-path: xywh(0 0 100% 100% round 0.5em); // tr border-radius
                background-image: linear-gradient(to bottom, // must be vertical heading for Safari
                    color.shade(primary, -30%, 0.9),
                    color.shade(primary, -40%, 0.8));

                td {
                    padding-top: 0.65em;
                    padding-bottom: 0.65em;
                }

                &:hover {
                    background-image: linear-gradient(to bottom, // must be vertical heading for Safari
                        color.shade(primary, -22%, 0.9),
                        color.shade(primary, -32%, 0.8));
                }
            }

            > thead > tr {
                background-color: #0003;

                th.icon {
                    padding: 0;
                }
            }

            &.results {
                > thead th.time,
                > thead th.distance {
                    text-align: right;
                }

                td, th { 
                    svg {
                        width: 1.1em;
                        opacity: 0.88;
                        vertical-align: middle;
                    }
                }

                > tbody > tr.summary {
                    &.invalid {
                        opacity: 0.7;
                        font-weight: 200 !important;
                    }

                    > td.racing-score {
                        .positive,
                        .negative {
                            font-weight: 550;
                            font-size: 0.76em;
                        }

                        .positive {
                            color: color-mix(in srgb, color.get(positive), currentColor 10%);
                        }
                        .negative {
                            color: color-mix(in srgb, color.get(negative), currentColor 10%);
                        }
                    }

                    > td.time,
                    > td.distance {
                        text-align: right;

                        &.relative {
                            font-size: 0.8em;
                        }
                    }

                    > td.place {
                        text-align: center;
                    }

                    > td.icons {
                        color: inherit;

                        ms {
                            font-size: 1.3em;
                            font-weight: 600;
                            line-height: 0.7;
                            filter: drop-shadow(0 0 1px black);
                        }

                        .flag {
                            color: #f32d24;
                        }

                        .warning {
                            color: #ffe200;
                        }
                    }

                    > td.power {
                        &[data-power-type="VIRTUAL_POWER"] {
                            text-decoration: line-through;
                            text-decoration-color: darkred;
                        }
                    }
                }
            }

            td.icon {
                padding: 0.1em;
                width: 0;
                text-align: center;

                ms {
                    font-size: 1.2em;

                    &.female {
                        font-size: 1.4em;
                        margin-left: -0.15em;
                        margin-right: -0.15em;
                    }

                    .danger {
                        color: color.get(danger);
                    }
                }
            }

            ms.in-game { }
            ms.power { color: gold; }
            ms.female { color: #eb09eb; }
            ms.following { color: color.get(following); }
            ms.marked { color: color.get(marked); }

            ms svg {
                height: 1em;
            }

            .details {
                > td {
                    padding: 0;
                }

                .container {
                    background-color: transparent;
                    padding: 0;
                }
            }

            localized .milliseconds {
                font-size: 0.7em;
            }
        }
    }

    .card {
        width: clamp(50%, 400px, 100%);
        margin-left: 0.5em;
        margin-bottom: 0.5em;
        border-radius: 0.5em;
        background: #1117;
        overflow: hidden;

        img.event-image {
            width: 100%;
        }

        .meta {
            padding: 1em;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            &:not(:last-child) {
                padding-bottom: 0;
            }

            ms {
                opacity: 0.8;
            }

            > * {
                padding: 0.2em;
            }

            a img {
                height: 1.5em;
            }
        }
    }
}

#titlebar {
    position: initial !important;
}

#content {
    scroll-behavior: smooth;
    padding: 0;
    overflow: auto;
}

.details .container .profile {
    .avatar {
        flex-basis: 190px;
    }

    header.title {
        display: contents;
        background: none;
        color: #f0f0f0;

        .buttons {
            margin: 0.2em 0.5em;
            padding: 0;
            border-radius: 0.28em;
            overflow: hidden;
            background-color: color.shade(intrinsic-inverted, 5%, 0.7);
            color: color.get(intrinsic);

            > a {
                height: 1.65em;
                flex: 1 1 0;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                text-decoration: none;

                &:not([disabled]):hover {
                    background-color: color.shade(intrinsic-inverted, 0%, 0.8);
                }
            }
        }

        .name {
            display: none;
        }
    }
}

@media only screen and (max-width: 768px)  {
    html, body {
        font-size: 3.7mm;
    }

    table {
        width: 100%;

        > thead > tr > th,
        > tbody > tr > td {
            &:first-child {
                padding-left: 0.5em;
            }

            &:last-child {
                padding-right: 0.5em;
            }
        }

        td[colspan] {
            padding-top: 0 !important;
            padding-left: 0;
            padding-right: 0;

            > .container {
                padding: 0.4em !important;

                .event-subgroup {
                    padding: 0.4em !important;
                }
            }
        }

        &.events {
            > thead > tr > {
                th.start,
                th.name,
                th.route {
                    visibility: hidden !important;
                    position: absolute !important;
                    width: 0 !important;
                    padding: 0 !important;
                    margin: 0 !important;
                }
            }

            > tbody > tr.event-row {
                $start-width: 10rem;
                $side-pad: 0.3rem;
                position: relative;

                &.expanded > td.name {
                    padding-top: 0.2em;
                }

                > td.type {
                    padding-left: $side-pad;
                    max-width: max(10vw, 12ch);
                }

                > td.start,
                > td.name {
                    max-width: initial;
                    position: absolute;
                    top: 0.4rem;
                    font-weight: 500;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 0;
                }

                > td.start {
                    right: $side-pad;
                    width: $start-width;
                    text-align: right;
                }
                > td.name {
                    left: $side-pad;
                    width: calc(100% - (2 * $side-pad) - $start-width);
                }
                > td.route {
                    visibility: none;
                    position: absolute;
                    margin: 0 !important;
                    padding: 0 !important;
                    width: 0 !important;
                }

                > td:not(.name):not(.route):not(.start) {
                    padding-top: 2.4rem;
                    padding-bottom: 0.4rem;
                }

                > td.count {
                    text-align: right;
                }
            }
        }

        .subgroups .event-subgroup header .name {
            padding: 0.7em 0.2em 0;
        }

        &.entrants {
            > thead > tr {
                display: none;
            }

            > tbody > tr.summary {
                position: relative;

                > td.icon {
                    width: 1.8ch !important;
                }

                > td.weight {
                    width: 10ch;
                }

                > td.name {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    padding-left: 0.3em;
                }

                > td:not(.name) {
                    padding-top: 2em !important;
                }
            }
        }
    }
}
