html:not(.connected) {
    #content .button {
        pointer-events: none;
        opacity: 0.5;
    }
}

html.settings-mode #content header {
    app-region: initial !important;
}

#titlebar .title {
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: center !important;

    .top { }

    .bottom {
        font-variant: all-small-caps;
        font-weight: 600;
        line-height: 0.65;
        opacity: 0.7;
    }
}

#content {
    overflow: auto;
    font-size: 0.6em;

    .category {
        font-weight: 800;
        font-size: 1.1em;
        font-variant: all-small-caps;
        margin-left: 0.6rem;
        line-height: 1;
        text-shadow: 0 0 1px #000;
        opacity: 0.9;
    }

    .category + .button-group {
        margin-top: 0;
    }

    .button-group {
        margin: 0.5em;

        b {
            writing-mode: vertical-lr;
            text-align: center;
        }
    }

    .button {
        text-transform: uppercase;
        font-weight: 700;
        min-height: 3em;
        padding-left: 0.4em;
        padding-right: 0.4em;
        text-align: center; // XXX tempted to make this std, makes wrapped text centered

        ms:not([xl]) {
            padding-left: 0.3em;
            margin-bottom: 0;
        }
    }
}
