html {
    &.solid-background {
        background: var(--background-color);

        body {
            background: transparent;
        }
    }
}

#content {
    .gauge {
        flex-grow: 1;
        margin-bottom: max(-20vw, -20vh);
        font-variant-numeric: tabular-nums;
    }
}
