@use 'color';
@import 'map';
@import 'elevation';

html {
    font-size: 18px;

    &.solid-background {
        background: var(--background-color);

        body {
            background: transparent !important;
        }

        table thead {
            background: var(--background-color);
        }
    }
}

#content {
    max-height: 100%;
    overflow: auto;
    overflow: overlay;

    > .map-controls {
        font-size: 2em;
        margin-top: 0.2em;
        margin-left: 0.1em;
        position: fixed;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 0;
        z-index: 11;
        opacity: 0.86;
        transition: opacity 200ms;

        &:hover {
            opacity: 1;
        }
    }

    > .fields {
        font-variant-numeric: tabular-nums;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        z-index: 10;
        background: #000a;
        border-bottom-left-radius: 0.28em;
        padding: 0.3em 1em;
        align-items: center;
        justify-content: center;
        max-width: 80%;
        font-size: 1em;

        &:empty {
            display: none;
        }

        .field:not(:last-child) {
            margin-right: 1em;
        }

        .field {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            overflow: hidden;

            .key {
                font-weight: 600;
                margin-right: 0.2em;
                overflow: hidden;
                text-overflow: ellipsis;

                &:not(:empty)::after {
                    content: ':';
                }
            }

            .value {
                overflow: hidden;
                text-overflow: ellipsis;
                min-width: 4ch;
                text-align: right;
            }
        }
    }

    > .map {
        flex: 1 1 0;
        width: 100%;
        height: 100%;
    }

    > .elevation-profile {
        flex: 0 0 auto;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10000;
        pointer-events: none;
        transform: translateZ(0);  // Fix rendering glitch that makes profile invisible

        svg > g {
            pointer-events: all;
        }
    }
}
