#content {
    overflow: auto;
    overflow: overlay;

    .map-chart {
        display: none;
        aspect-ratio: 1 / 1;
        font-variant-numeric: tabular-nums;
        max-width: 100%;
        max-height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .map-canvas {
        display: none;
        aspect-ratio: 1 / 1;
        font-variant-numeric: tabular-nums;
        max-width: 100%;
        max-height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .elevation-profile {
        aspect-ratio: 3 / 1;
        font-variant-numeric: tabular-nums;
        width: 99%;
    }
}
