$shadow-size: 0.4rem;
$html-pad: 3px;
$content-pad: 0.4rem;

html {
    --aspect-ratio: 3 / 8;

    &.solid-background {
        background: var(--background-color);

        body {
            background: transparent;
        }
    }
}

html.settings-mode #meta.app-drag {
    -webkit-app-region: initial;
}

#meta {
    margin-top: $content-pad;
    padding: 0.30em 0.5em 0.55em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.86em;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    font-variant-numeric: tabular-nums;
    background: #111c;
    border-radius: 1em;
    margin-right: $content-pad;
    margin-left: $content-pad;

    .line {
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    abbr.unit {
        font-size: 0.72em;
        margin-left: 0.08em;
    }
}

#ahead,
#behind {
    padding: 0.30em 0.5em 0.55em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.86em;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    font-variant-numeric: tabular-nums;
    line-height: 1;

    &:not(.visible) {
        display: none;
    }
}
#behind {
    order: 100000000;
}

#container {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    position: relative;
    padding: $content-pad;
    align-items: center;
    justify-content: center;
}

.position {
    --rim-color: #666a;
    --rim-border-color: #0004;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 100%;
    position: relative;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    --size: calc(1.5rem + (var(--athletes) / max(10, var(--total-athletes)) * 3.5rem));
    order: var(--rel-pos);

    &.watching {
        .bubble {
            background: radial-gradient(#0af, #09ea, #333a);
            color: white;
        }
    }

    &.attn {
        --rim-color: #ff35008f;
        --rim-border-color: #fff;
        --attn-line-color: #fb0;
    }

    .bubble {
        margin: $shadow-size;
        width: var(--size);
        height: var(--size);
        transition-property: margin, width, height, font;
        transition-duration: 2s;
        display: flex;
        overflow: hidden;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        text-align: center;
        white-space: pre-wrap;
        border-radius: 50%;
        background: radial-gradient(#fffd, #fffd, #fffb);
        font-size: calc(0.4em + (0.20 * var(--size)));
        font-family: sans-serif;
        color: black;
        box-shadow: 0 0 0 $shadow-size var(--rim-color), 0.03rem 0.03rem $shadow-size 0 var(--rim-border-color);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}
.no-transition .position {
    transition: initial;
}

.position.hidden {
    opacity: 0;
    visibility: hidden;

    .bubble {
        width: 0;
        height: 0;
        margin: 0;
    }
}
.position.hidden + .gap,
.gap.alone {
    opacity: 0;
    flex-grow: 0;
    visibility: hidden;
}
.gap.real .line.est {
    display: none;
}

.desc {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 0.86em;
}

.position .desc {
    $desc-pad: 0.2rem;

    &.left {
        left: 0;
        width: calc(50% - (var(--size) / 2) - $shadow-size);

        &::after {
            padding: 0 0.2em;
        }

        justify-content: flex-end;

        .lines {
            align-items: flex-end;
        }
    }

    &.right {
        left: calc(50% + (var(--size) / 2) + $shadow-size + $desc-pad);
        width: calc(50% - (var(--size) / 2) + $content-pad - $shadow-size - $desc-pad);

        .lines {
            align-items: flex-start;
        }
    }
}


.desc .lines {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.gap .desc .lines {
    align-items: flex-end;

    .line {
        text-align: right;
    }
}

.desc .lines .line {
    overflow: hidden;
    text-overflow: ellipsis;
    font-variant-numeric: tabular-nums;
    font-weight: 500;
    letter-spacing: -0.04em;
    white-space: nowrap;
    max-width: 100%;
    padding: 0 1.5px; // for text-shadow and subpixel rendering.
    line-height: 1.05;
    text-shadow:
        0 0 1px #000,
        0 0 1px #000,
        0 0 1px #000,
        0 0 1px #000,
        0 0 1px #000,
        0 0 1px #000,
        0 0 1px #000,
        0 0 1px #000;

    &.attn {
        margin-bottom: 0;
        color: var(--attn-line-color);
        font-size: 0.8em;
        font-weight: 600;
        line-height: 0.9;
    }

    abbr.unit {
        margin-left: 0.1em;
        opacity: 0.7;
        font-size: 0.9em;
    }
}

.desc .lines .line.minor {
    font-size: 0.80em;
    font-weight: 400;
    opacity: 0.88;
    line-height: normal;

    &.team {
        color: yellow;
        font-size: 0.65em;
        line-height: 1;
        font-variant: small-caps;
    }
}

.position .desc.right:not(.empty)::before,
.position .desc.left:not(.empty)::after,
.gap .desc::after {
    content: '―';
    color: #aaa9;
}

.desc::before,
.desc::after {
    font-size: 0.5rem;
}

.gap {
    $border-width: calc(0.08rem + 0.15rem * min(1, var(--outer-gap) / 600));
    position: relative;
    order: var(--rel-pos);
    border-right-style: solid;
    border-right-width: $border-width;
    border-right-color: hsl(calc(70deg + 50deg * min(var(--outer-gap) / 300, 1) * var(--gap-sign)), 100%, 50%);
    flex: var(--inner-gap) 1 0;
    transition-property: flex, opacity, visibility;
    transition-duration: 4s, 1s, 1s;

    .desc {
        $pad: 0.1rem;
        top: 0;
        height: 100%;
        right: $pad;
        width: calc(50vw - ($html-pad * 2) - $pad - $border-width - ($content-pad / 2) + $content-pad);
        justify-content: flex-end;

        &::after {
            padding: 0 0.5rem 0 0.3em;
        }
    }

    .line.est {
        font-size: min(0.65em, 0.9rem) !important;
        font-style: italic;
    }
}

.no-transition .gap {
    transition: initial;
}
