@use 'color';
@use "sass:math";

@keyframes sparkle {
    0%  { filter: drop-shadow(0 0 0.25em #fff1); }
    10%  { filter: drop-shadow(0 0 0.5em #fff5); }
    20%  { filter: drop-shadow(0 0 0.6em #fff7); }
    30%  { filter: drop-shadow(0 0 0.7em #fff9); }
    40%  { filter: drop-shadow(0 0 0.8em #fffb); }
    50%  { filter: drop-shadow(0 0 0.9em #fffd); }
    60%  { filter: drop-shadow(0 0 1em #ffff); }
    70%  { background-color: var(--fill); }
    73%  { background-color: var(--sparkle-color); opacity: 1; }
    76%  { background-color: var(--fill); }
    79%  { background-color: var(--sparkle-color); opacity: 1; }
    82%  { background-color: var(--fill); }
    85%  { background-color: var(--sparkle-color); opacity: 1; }
    88%  { background-color: var(--fill); }
    91%  { background-color: var(--sparkle-color); opacity: 1; }
    94%  { background-color: var(--fill); }
    97%  { background-color: var(--sparkle-color); opacity: 1; }
    100%  { background-color: var(--fill); }
}


.sauce-map-container {
    font-variant-numeric: tabular-nums;
    overflow: hidden;
    position: relative;
    touch-action: none;  // disable native touch handling on mobile devices.
    cursor: pointer;
    user-select: none;

    canvas {
        display: block;
    }

    &.moving {
        cursor: move;
    }

    &.sparkle .sauce-map .entities {
        .entity.athlete[data-power-level="z4"],
        .entity.athlete[data-power-level="z5"],
        .entity.athlete[data-power-level="z6"] {
            animation: sparkle 2400ms infinite steps(5);
        }
    }

    > .sauce-map {
        touch-action: none;  // disable native touch handling on mobile devices.
        position: absolute;
        left: 50%;
        top: 50%;

        > svg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: visible;
            transform: translateZ(0);  // Fix rendering glitches by forcing layer (only Safari affected)
        }

        > div.entities {
            font-size: calc(var(--layer-scale) * (3 + 8 / var(--zoom)) * 1px);
            position: absolute;
            top: 0;
            left: 0;

            .entity {
                --priority: 0;
                will-change: transform;
                z-index: var(--priority);
                $size: 1em;
                $border-size: 0.215em;
                --fill: #fffa;
                background-color: var(--fill);
                border: $border-size solid #5a94ff;
                outline: 4px solid var(--color, transparent);
                opacity: 0.8;
                width: $size;
                height: $size;
                left: $size * -0.5;
                top: $size * -0.5;
                border-radius: 50%;
                position: absolute;
                cursor: pointer;

                &:hover {
                    --priority: 80 !important;
                    opacity: 1;
                }

                &.hidden {
                    display: none !important;
                }

                &.point {
                    --priority: 80;
                    --fill: gold;
                    --border-color: black;
                    border: none;
                    border-radius: initial;
                    background: none;
                    font-size: $size * 1.5;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        clip-path: var(--clip-path);
                    }

                    &::before {
                        background-color: var(--border-color);
                        scale: 2;
                    }

                    &::after {
                        background-color: var(--fill);
                        scale: 1.7;
                    }
                }

                &.star {
                    --clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                }

                &.triangle {
                    --clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

                    &::before,
                    &::after {
                        transform-origin: 50% 66%;
                    }
                }

                &.chat {
                    --clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);

                    &::before,
                    &::after {
                        transform-origin: 50% 38%;
                    }
                }

                &.diamond {
                    --clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                }

                &.circle {
                    --clip-path: circle(50%);
                }

                &.athlete {
                    --zone: 0;
                    z-index: calc(var(--zone) + var(--priority));

                    &[data-power-level="z4"] {
                        --zone: 1;
                        --sparkle-color: #fff9;
                    }
                    &[data-power-level="z5"] {
                        --zone: 2;
                        --sparkle-color: #dfb1a891;
                    }
                    &[data-power-level="z6"] {
                        --zone: 3;
                        --sparkle-color: #ae45da91;
                    }

                    &[data-category]:not(.self):not(.watching) {
                        outline: 2px solid #222a;
                    }
                    &[data-category="A"] {
                        --fill: #d93826;
                        border-color: #fff;
                    }
                    &[data-category="B"] {
                        --fill: #44d926;
                        border-color: #fff;
                    }
                    &[data-category="C"] {
                        --fill: #19e5e6;
                        border-color: #fff;
                    }
                    &[data-category="D"] {
                        --fill: #e5e619;
                        border-color: #fff;
                    }
                    &[data-category="E"] {
                        --fill: #7f19e6;
                        border-color: #fff;
                    }

                    &.bot {
                        --priority: 10;
                        font-size: $size * 1.2;
                        border-width: $border-size * 1.25;
                        border-color: gold;
                    }

                    &.following {
                        --priority: 20;
                        font-size: $size * 1.3;
                        border-width: $border-size * 1.5;
                        --fill: color.get(marked, 0.8);
                        border-color: color.shade(marked, 100%);
                    }

                    &.marked {
                        --priority: 30;
                        font-size: $size * 1.3;
                        border-width: $border-size * 1.5;
                        --fill: color.get(marked, 0.8);
                        border-color: color.shade(marked, 100%);
                    }

                    &.sweeper {
                        --priority: 40;
                        font-size: $size * 1.2;
                        border-width: $border-size * 1.25;
                        --fill: #f1262675;
                        border-color: #dc3c10cc;
                    }

                    &.leader {
                        --priority: 50;
                        font-size: $size * 1.2;
                        border-width: $border-size * 1.25;
                        --fill: #ffd91f8c;
                        border-color: #000d;
                    }

                    &.watching {
                        --priority: 60;
                        font-size: $size * 1.3;
                        border-width: $border-size * 1.1;
                        --fill: #3162ffcc;
                        border-color: #fff;
                    }

                    &.self {
                        --priority: 70;
                        font-size: $size * 1.5;
                        border-width: $border-size * 1.1;
                        --fill: #f22c;
                        border-color: #fff;
                    }
                }
            }
        }

        > svg.paths {
            font-size: 100px;  // make em units reasonable based on zwift coordinates

            .path-layers {
                &.rotated-coordinates {
                    transform: rotate(-90deg);
                }
            }
        
            .road,
            .highlight {
                fill: none;
                stroke-linecap: round;
                stroke-linejoin: round;
            }

            .highlight {
                --width: 1;
                stroke-width: calc(var(--width) * (8 + 7 / var(--zoom)) * 1em);
                stroke: #cf0606b0;

                &.active-shadow {
                    stroke: #6666;
                    --width: 5;
                }

                &.active-gutter {
                    stroke: #222;
                    --width: 1.4;
                }

                &.route-leadin {
                    stroke: #27f;
                }

                &.route-lap {
                    --width: 0.9;
                    stroke: #d33524;
                    mix-blend-mode: lighten; /* allow leadin to bleed through */
                }

                &.route-leadin,
                &.route-weld {
                    --width: 0.8;
                    stroke-dasharray: 10em 18em;
                }

                &.route-weld {
                    stroke: #ffdf21;
                }
            }

            .gutters .road {
                stroke: #000;
                stroke-width: 32em;
            }

            .surfaces .road {
                stroke-width: 22em;
                stroke: #e9e9e9;

                &.active {
                    stroke: #d02903cc;
                }

                &.sport-running:not(.sport-cycling) {
                    stroke: #69a573;
                }
            }
        }

        > .map-background {
            pointer-events: none;
            opacity: var(--opacity, 1);

            &.hidden {
                visibility: hidden;
            }
        }
    }

    .pins {
        $border-color: #fff;
        $border-size: 0.18em;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateZ(0);  // Fix rendering glitches by forcing layer

        .pin-anchor {
            // zero size transform object
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.8em;
            opacity: 0.9;
            transition: opacity 200ms;

            &.hidden {
                display: none;
            }

            &:hover, &:focus {
                z-index: 1000;
                opacity: 1;
            }
        }

        .pin-inner {
            $carrot-width: 1em;
            $carrot-height: 1em;
            $bg-color: #0b49a3;
            bottom: $carrot-height;
            pointer-events: all;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 3em;
            min-height: 3em;
            max-width: 12em;
            color: #fff;
            background-color: $bg-color;
            border: $border-size solid $border-color;
            border-radius: 0.8em;
            position: absolute;
            will-change: transform;

            &::before {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                border-left: $carrot-width solid transparent;
                border-right: $carrot-width solid transparent;
                border-top: $carrot-height solid $border-color;
                border-bottom: none;
                right: calc(50% - $carrot-width);
                top: 100%;
            }
            &::after {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                border-left: $carrot-width solid transparent;
                border-right: $carrot-width solid transparent;
                border-top: $carrot-height solid $bg-color;
                border-bottom: none;
                right: calc(50% - $carrot-width);
                top: calc(100% - math.sqrt(math.pow(math.div($border-size, 1em), 2) * 2) * 1em);
            }
        }

        .pin-content-wrap {
            max-width: 100%;

            &::after {
                content: 'X';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0;
                transition: height 400ms;
                font-size: 1em;
                font-weight: 500;
                background-color: #0008;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                z-index: 10;
            }

            &:hover::after {
                height: 1.8em;
            }
        }

        .pin-content {
            padding: 0.3em 0.5em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100%;
            line-height: 1.35;
            font-weight: 550;
            font-variation-settings: "wdth" 94;

            avatar-pad {
                display: inline-block;
                width: 2em; // 3em - 1em
            }

            img.avatar {
                object-fit: cover;
                float: right;
                position: absolute;
                right: -1em;
                top: -1.6em;
                width: 3em;
                height: 3em;
                border-radius: 50%;
                background-color: white;
                border: $border-size solid $border-color;
                box-shadow: 1px 1px 2px 0 #0006;
            }

            .name {
                font-weight: 600;
            }

            .chat {
                margin-top: 0.3em;
                margin-bottom: 0.3em;
                font-size: 0.88em;
                font-style: italic;
                white-space: pre-wrap;
                line-height: 1.2;
                display: block;
                margin-left: 0.55ex;
                text-indent: -0.55ex;
            }
        }

        abbr.unit {
            font-size: 0.86em;
            padding-left: 0.1em;
        }
    }
}
