html {
    user-select: initial;
}

html:not(.overlay-mode) {
    padding: 0;

    body {
        border-radius: 0 !important;
    }

    .overlay-only {
        display: none !important;
    }

    header .app-drag {
        cursor: initial !important;
    }
}

html, body {
    font-size: 14px;
}

table {
    border-collapse: collapse;
    user-select: none;

    abbr.unit {
        font-size: 0.82em;
        opacity: 0.8;
        margin-left: 0.1em;
    }

    thead {
        position: sticky;
        z-index: 1;
        top: 0;
        background-image: linear-gradient(to bottom, #0f1751, #941a1a);

        td {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            font-weight: normal;
            font-variant: all-small-caps;

            &:hover {
                background-color: #9355;
            }

            &[data-id="avatar"] {
                text-align: center;

                img.fa {
                    filter: invert(0.9);
                    width: 1.2em;
                    margin-bottom: -0.3em;
                    display: inline-block;
                }
            }

            ms.sort-asc,
            ms.sort-desc {
                display: none;
                font-size: 2em;
                line-height: 0.5;
            }

            &.sorted {
                &.sort-asc ms.sort-asc,
                &.sort-desc ms.sort-desc {
                    display: inline;
                }
            }
        }

        td.sorted {
            background-color: #0333;
        }
    }

    tr,
    td {
        transition: background 200ms;
    }

    td {
        text-align: left;
        padding: 0.2em 0.2em;
        font-variant: tabular-nums;
        cursor: pointer;

        &:first-child { // buttons
            white-space: nowrap;
        }

        &[data-id="name"],
        &[data-id="team"],
        &[data-id="group"],
        &[data-id="route"] {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: max(16ch, 18vw);
        }

        &[data-id="avatar"] {
            text-align: center;

            a.avatar {
                display: inline-block;
                border: 1px solid #333;
                border-radius: 50%;
                overflow: hidden;
                border: 1.5px solid transparent;
                transition: border 100ms;
                vertical-align: middle;

                &:hover {
                    border-color: #08ec;
                }

                img {
                    height: 1.7em;
                    width: 1.7em;
                    object-fit: cover;
                }
            }
        }

        &[data-id="nation"] {
            img {
                height: 1em;
            }
        }

        &[data-id="weight-class"] {
            white-space: nowrap;
            font-variant-numeric: normal;
        }

        &[data-id="gap"] {
            white-space: nowrap;
        }

        .badge {
            display: inline-block;
            margin-bottom: 0.15em;
        }
    }
    td:first-child {
        padding-left: 0.6em;
    }
    td:last-child {
        padding-right: 0.6em;
    }

    tr.hidden {
        display: none;
    }

    tr.watching {
        background-color: #0081ffba !important;
        color: white !important;
        td {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
    }

    tbody tr:not(.hi):hover {
        background-color: #0355;
    }

    td.sorted {
        background-color: #0333;
    }

    tr.marked {
        background-color: #23ff6ca3;
    }

    tr.following {
        background-color: #fff;
        color: black;
    }

    td .link {
        transition: opacity 200ms;
        display: inline-block;
        margin-right: 0.15em;
        margin-top: -0.2em;
        margin-bottom: -0.1em;

        &:hover ms {
            opacity: 1 !important;
        }

        ms {
            font-size: 1.2em;
            opacity: 0;
        }
    }

    tr:hover .link ms {
        opacity: 0.7;
    }
}

#content {
    scroll-behavior: smooth;
    padding: 0;
    overflow: auto;
    overflow: overlay; // chromium only
    position: relative;
    font-size: calc(var(--font-scale) * 1em);
}

html.autoscroll table tr.watching {
    scroll-snap-align: center;
}
html.autoscroll #content {
    scroll-snap-type: y proximity;
}
