html {
    user-select: initial;
}

html:not(.overlay-mode) {
    padding: 0;

    body {
        border-radius: 0;
    }
}

html, body {
    font-size: 14px;
}

table {
    border-collapse: collapse;
    user-select: none;

    thead {
        position: sticky;
        z-index: 1;
        top: 0;
        background-image: linear-gradient(to bottom, #0f1751, #941a1a);

        td {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            font-weight: normal;
            font-variant: all-small-caps;

            &:hover {
                background-color: #9355;
            }

            &[data-id="avatar"] {
                text-align: center;

                img.fa {
                    filter: invert(0.9);
                    width: 1.2em;
                    margin-bottom: -0.3em;
                    display: inline-block;
                }
            }
        }
    }

    tr,
    td {
        transition: background 200ms;
    }

    td {
        text-align: left;
        padding: 0.2em 0.2em;
        font-variant: tabular-nums;
        cursor: pointer;

        &[data-id="avatar"] {
            text-align: center;

            a.avatar {
                display: inline-block;
                border: 1px solid #333;
                border-radius: 50%;
                overflow: hidden;
                border: 1.5px solid transparent;
                transition: border 100ms;
                vertical-align: middle;
                margin: -0.4em 0 -0.24em;

                &:hover {
                    border-color: #08ec;
                }

                img {
                    height: 1.7em;
                    width: 1.7em;
                    object-fit: cover;
                }
            }
        }
    }
    td:first-child {
        padding-left: 0.6em;
    }
    td:last-child {
        padding-right: 0.6em;
    }

    tr.watching {
        background-color: #0009 !important;
        color: white !important;
        td {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
    }
    tbody tr:not(.hi):hover {
        background-color: #0355;
    }
    tr.hi {
        background-color: #035a;
    }
    td.hi {
        background-color: #a35a;
    }

    td .edit-link {
        transition: opacity 200ms;
        display: inline-block;

        &:hover img {
            opacity: 1 !important;
        }

        img {
            opacity: 0;
            filter: invert(1);
            height: 0.8em;
        }
    }

    tr:hover .edit-link img {
        opacity: 0.7;
    }
}

#content {
    scroll-behavior: smooth;
    padding: 0;
    overflow: auto;
    position: relative;
}

::-webkit-scrollbar {
    display: none !important;
}

html.autoscroll table tr.watching,
html.autoscroll table tr.hi {
    scroll-snap-align: center;
}
html.autoscroll #content {
    scroll-snap-type: y proximity;
}

