html {
    padding: 0;
    font-size: clamp(12px, calc(14px + 10vh), 24px);

    &:not(.auto-hidden) {
        .auto-hidden-label {
            display: none;
        }
    }
    &:not(.hidden) .controls .button.show {
        display: none;
    }
    &.hidden .controls .button.hide {
        display: none;
    }
}

#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    flex: 1 1 100%;
    padding: 0.1em 0.6em;
}

html #content .button.move {
    font-size: 1em;
}
#content .button.move {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 0.4em;
    transition: font-size 200ms;
    overflow: hidden;

    img {
        height: 1em;
        filter: invert(1);
    }
}

.fields {
    margin: 0 2em;
    display: flex;
}

.field {
    margin-right: 1em;
    display: flex;
    align-items: center;

    .key {
        font-weight: 500;
        display: inline-flex;
        align-items: center;

        &::after {
            content: ':';
        }

        small {
            padding-left: 0.25em;
            margin-bottom: 0.1em;
            font-variant: unicase;
            font-weight: normal;
        }
    }

    .value {
        font-variant: tabular-nums;
        margin-left: 0.2em;
    }

    .unit {
        margin-left: 0.2em;
        margin-top: 0.25em;
        font-size: 0.75em;
        opacity: 0.82;
        vertical-align: baseline;
    }
}

.controls {
    flex: 1 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .button img {
        height: 1.5em;
        filter: invert(1);
    }

    .button:not(:last-child) {
        margin-right: 0.5em;
    }

    .auto-hidden-label {
        font-variant: small-caps;
        font-weight: bold;
        font-size: 0.6em;
        opacity: 0.6;
        text-align: center;
        margin-right: 1em;
        line-height: 1;
    }
}
