@use 'color';
@import '../deps/css/saucecharts/line.css';

.profile {
    display: flex;
    flex-direction: column;
    flex: 1 1;

    a.inline-edit {
        text-decoration: underline;

        &:not(:hover) {
            text-decoration-style: dotted;
        }
    }

    > section {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        border-radius: 0.3em;
        overflow: hidden;
        font-variant-numeric: tabular-nums;
        -webkit-user-select: text;
        user-select: text;
    }

    > header {
        padding: 0.125em 0.7em;
        font-size: 1.40em;
        background-image: linear-gradient(to top, color.shade(bookend, 0%), color.shade(bookend, 12%));
        color: color.shade(bookend, 100%);
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .name {
            flex: 1;
            padding: 0.3em 0;
            margin-right: 0.6em;
            app-region: drag;
            position: relative;
            font-size: 0.9em;

            .special-badge {
                font-variant: all-small-caps;
                font-size: 0.65em;
                font-weight: 600;
                color: gold;
                position: absolute;
                line-height: 1;
                top: 0;
                left: 0;
            }

            img {
                display: inline-block;
                vertical-align: middle;
                height: 1.2em;
            }
        }

        .buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 1.1em;
            padding-bottom: 0.1em;
            -webkit-user-select: none;
            user-select: none;

            a {
                opacity: 0.80;
                transition: opacity 150ms;
                margin: -0.1em 0;
                padding-top: 0.15em;

                &[disabled] {
                    opacity: 0.3 !important;
                    cursor: default;

                    &:active {
                        pointer-events: none;
                    }
                }

                &:hover {
                    opacity: 1;
                }

                &:not(:last-child) {
                    margin-right: 0.6em;
                }
                &[data-action="toggleMuted"] {
                    ms {
                        font-size: 0.9em;
                    }
                }
                &[data-action="toggleMarked"].active {
                    color: color.shade(marked, -30%);
                    opacity: 1;
                }
                &[data-action="toggleMuted"].active {
                    color: color.get(negative);
                }
                &[data-action="unfollow"].active {
                    color: color.get(following);
                }
                &[data-action="rideon"][disabled] {
                    color: color.get(positive);
                    opacity: 1 !important;
                }

                img {
                    max-height: 1em;
                }
            }
        }
    }

    .avatar {
        flex: 1 0 250px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        overflow: hidden;
        margin: 1em;
        box-shadow: 1px 1px 5px #0003;
        --av-border-width: 0.4rem;
        border-radius: 2.5rem 0.6rem;
        border: var(--av-border-width) solid #222;

        a[target="profile-avatar"] {
            display: contents;
        }

        img {
            aspect-ratio: 1 / 1;
            object-fit: cover;
            width: 100%;
            background-image: radial-gradient(ellipse at 11% 0,
                rgb(32 2 72 / 0.8) 0%,
                rgb(10 12 142 / 0.8) 42%,
                rgb(132 70 13 / 0.8) 94%);
        }
    }

    .racing-score-holder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        cursor: pointer;
        height: 3.9rem; // tuned to badge font height + score

        &.active {
            .sparkline {
                flex-basis: 100%;
            }

            .badge {
                border-bottom-left-radius: 0;
            }
        }

        .sparkline {
            transition: flex-basis 600ms;
            background-color: #000c;
            flex: 0 1 0;
            color: #fff;

            .sl-plot-region {
                --color: #33f;
            }
        }
    }

    .racing-score-avatar-badge {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0.9;
        font-size: 3em;
        text-decoration: none;
        transition: filter 100ms, opacity 100ms;
        aspect-ratio: 1 / 1;

        &:hover {
            filter: drop-shadow(1px 1px 5px #0003);
            opacity: 1;
        }

        .badge {
            width: 100%;
            height: 100%;
            text-align: center;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
            padding: 0.2em 0.6em 0.6em;
            transition: border-radius 200ms;
        }

        .number {
            color: #000;
            font-size: 0.3em;
            font-weight: 800;
            text-shadow:
                0px 0px 1px #fff,
                0px 0px 1px #fff,
                0px 0px 1px #fff;
            margin-top: -1.7em;
            font-stretch: extra-expanded;
        }
    }

    .info {
        flex: 100 1;
        display: flex;
        flex-direction: column;
        margin: 0.8em 0.33em;
        min-width: fit-content;
        border-radius: 0.5em;
        overflow: hidden;
        background-color: #0001;

        .flag {
            display: inline-block;
            vertical-align: middle;
            max-height: 1em;
        }

        .row {
            padding: 0.4em 0.7em;
            display: flex;
            align-items: center;
        }

        key {
            display: inline-block;
            min-width: 10ch;
            font-variant: small-caps;
            font-weight: bold;
            font-size: 0.82em;
        }

        key::after {
            content: ':';
            margin-right: 0.2em;
        }

        .row:nth-child(odd) {
            background-color: #0003;
        }

        .racing-score {
            font-weight: 600;
            font-variant-numeric: tabular-nums;
        }
    }

    .p1 {
        font-size: 1em;
        font-weight: bold;
    }

    img.inline-size {
        display: inline-block;
        height: 1.6em;
        margin-top: -0.3em;
        margin-bottom: -0.3em;
        padding-top: 0.2em;
    }

    abbr.unit {
        font-size: 0.84em;
        margin-left: 0.15em;
        opacity: 0.82;
    }
}
