@import 'profile_tpl';

html {
    font-size: 3.9mm;
}

body > main {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    max-height: 100%;

    > .profile {
        max-height: 100%;

        section {
            overflow: auto;
            overflow: overlay;
        }
    }
}
