@use 'color';
@import url('fields.css');

html {
    &.solid-background {
        background: var(--background-color);

        body {
            background: transparent !important;
        }
    }
}


#content {
    overflow: hidden;
}

.tabbed {
    overflow: hidden;
    flex-grow: 1;

    > .tab {
        padding: 0;
    }
}

.field-holder {
    background-image: linear-gradient(135deg, color.shade(fg, 12%, 0.9), color.shade(fg, 2%, 0.9));
    color: color.shade(fg, 78%);
    padding: 0.18rem 0.5rem 0.3rem;
    font-size: 0.8rem;
    font-weight: 550;

    header {
        font-variant: all-petite-caps;
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 700;
        opacity: 0.4;
    }

    .field > .key {
        flex: 1 1 auto;
        overflow: hidden;
    }

    .field > .value {
        font-size: 1.8em;
        font-stretch: 52%;
        line-height: 0.2;

        small {
            font-weight: 450;
            font-size: 0.62em;
        }
    }

    &:not(.available) {
        .segment-type:empty::before {
            content: 'Waiting for info...';
        }

        .field {
            > .key,
            > .value,
            > .unit {
                visibility: hidden;
            }
        }
    }
}

.results {
    font-size: 0.7em;
    display: grid;
    grid-auto-columns: min-content 1fr auto auto auto;
    grid-auto-rows: auto auto;
    --font-weight-basis: 400;

    .result {
        display: contents;
        font-weight: var(--font-weight-basis);

        &:nth-child(even) > * {
            background-color: color.get(intrinsic-inverted, 0.08);
        }
        &:nth-child(odd) > * {
            background-color: color.get(intrinsic-inverted, 0.16);
        }
        &:has(.self) {
            --font-weight-basis: 450;

            > * {
                color: color.get(intrinsic-inverted);
                background-color: color.shade(intrinsic, 0%, 0.7);
            }
        }
        &:has(.most-recent) {
            --font-weight-basis: 500;

            > * {
                background-color: color.shade(intrinsic, 0%, 0.8);
            }
        }

        .meta {
            display: none;
        }

        > * {
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
        }

        .place {
            grid-column: 1;
            grid-row: span 2;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 0.5em;
            padding-right: 0.5em;

            .trophy {
                font-size: 1.8em;
                filter: drop-shadow(1px 1px 4px #0004);

                &.gold {
                    color: gold;
                }
                &.silver {
                    color: silver;
                }
                &.bronze {
                    color: #b35534;
                    color: #c17853;
                }
            }
        }

        .name,
        .power {
            padding-top: 0.2rem;
        }

        .time,
        .when {
            padding-bottom: 0.2rem;
        }

        .name {
            grid-column: 2 / 5;
            grid-row: span 1;
            white-space: nowrap;
            overflow: hidden;
        }

        .time {
            grid-column: 2 / 5;
            grid-row: span 1;
            font-weight: calc(var(--font-weight-basis) + 100);
            font-stretch: 94%;
            font-size: 1.15em;
            line-height: 1;

            .milliseconds {
                font-size: 0.8em;
                opacity: 0.88;
            }
        }

       .hr {
            grid-column: 4;
            grid-row: span 1;
        }

        .power {
            grid-column: 5;
            grid-row: span 1;
        }
 
        .when {
            font-size: 0.9em;
            font-weight: calc(var(--font-weight-basis) - 80);
            grid-column: 5;
            grid-row: span 1;
            padding-right: 1em;
        }
    }
}

