@use 'color';

html {
    &.solid-background {
        background: var(--background-color);

        body {
            background: transparent !important;
        }
    }
}


#content {
    overflow: hidden;
}

.tabbed {
    overflow: hidden;
    flex-grow: 1;

    > .tab {
        padding: 0;
    }
}

.results {
    font-size: 0.7em;
    display: grid;
    grid-auto-columns: min-content 1fr auto auto auto;
    grid-auto-rows: auto auto;

    .result {
        display: contents;

        &:nth-child(even) > * {
            background-color: color.shade(fg, 100%, 0.1);
        }
        &:nth-child(odd) > * {
            background-color: color.shade(fg, 100%, 0.2);
        }

        > * {
            padding: 0.2em;
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
        }

        .place {
            grid-column: 1;
            grid-row: span 2;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 0.5em;
            padding-right: 0.5em;
            font-weight: 700;

            .trophy {
                font-size: 1.8em;
                font-weight: 600;
                filter: drop-shadow(1px 1px 4px #0004);

                &.gold {
                    color: gold;
                }
                &.silver {
                    color: silver;
                }
                &.bronze {
                    color: #b35534;
                }
            }
        }

        .name {
            grid-column: 2 / 5;
            grid-row: span 1;
            padding-bottom: 0;
            white-space: nowrap;
            overflow: hidden;
        }

        .time {
            padding-top: 0;
            grid-column: 2 / 5;
            grid-row: span 1;
            font-weight: 600;

            .milliseconds {
                font-size: 0.8em;
            }
        }

       .hr {
            grid-column: 4;
            grid-row: span 1;
        }

        .power {
            grid-column: 5;
            grid-row: span 1;
        }
 
        .when {
            font-size: 0.9em;
            font-weight: 300;
            grid-column: 5;
            grid-row: span 1;
            padding-right: 1em;
        }
    }
}

