svg.sauce-sparkline {
    stroke-width: 0.1em;
    --t-duration: 400ms;
    --t-timing: linear;

    path.data {
        stroke: currentColor;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        transition: d var(--t-duration) var(--t-timing);
    }

    g.points {
        circle {
            r: 0.4em;
            stroke: currentColor;
            fill: color-mix(in srgb, currentColor, transparent 50%);
            transition:
                cx var(--t-duration) var(--t-timing),
                cy var(--t-duration) var(--t-timing),
                r 140ms ease;

            &:hover {
                r: 1em;
            }
        }
    }
}

