svg.sauce-sparkline {
    stroke-width: 0.1em;
    --transition-duration: 400ms;
    --transition-timing: linear;

    .data-def {
        transition: d var(--transition-duration) var(--transition-timing);
    }

    .visual-data-line {
        stroke: currentColor;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .visual-data-area {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, #000a, red);
    }

    g.points {
        circle {
            r: 0.2em;
            stroke: currentColor;
            fill: color-mix(in srgb, currentColor, transparent 50%);
            transition:
                cx var(--transition-duration) var(--transition-timing),
                cy var(--transition-duration) var(--transition-timing),
                r 140ms ease;

            &:hover {
                r: 0.4em;
            }
        }
    }
}
