html {
    font-size: 14px;
}

#content {
    overflow: auto; // fallback
    overflow: overlay; // Not in spec, but is perfect for chromium.
    padding: 1em;

    section {
        display: flex;

        &.metrics {
            .column {
                flex: 1 1 0;
            }
        }

        header {
            font-weight: bold;
            font-size: 1.1em;
            padding-bottom: 1em;
            margin-bottom: 1em;
            border-bottom: 1px solid #aaa3;
        }
    }

    .chart-holder {
        flex: 0 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;

        .chart {
            min-width: 180px;
            padding: 0;
            margin: 0;
            height: 100px;

            &.line {
                flex: 1 1 auto;
            }

            &.gauge {
                font-size: 0.4em;
                flex: 0 0 200px;
            }
        }
    }
}
