@use 'color';

#content {
    overflow: auto; // fallback
    overflow: overlay; // Not in spec, but is perfect for chromium.
    padding: 1em;
    font-size: 14px;

    section {
        display: flex;
        flex-wrap: wrap;

        &:not(:last-child) {
            padding-bottom: 1em;
            margin-bottom: 1em;
        }

        .column {
            flex: 1 1 0;
            min-width: 200px;
            max-width: 100%;
            overflow: hidden;

            &:not(:last-child) {
                padding-right: 1em;
            }
        }

        header {
            font-weight: bold;
            font-size: 1.1em;
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
            border-bottom: 1px solid #aaa6;
        }

        &.debug-info {
            .entry {
                display: flex;
                align-items: baseline;
                color: color.shade(fg, 3%);
                
                key, value {
                    display: block;
                }

                abbr.unit {
                    font-size: 0.8em;
                    padding-left: 0.2em;
                    opacity: 0.8em;
                }

                key {
                    flex: 0 0 auto;
                    min-width: 12ch;
                    margin-right: 1ch;
                    font-weight: bold;
                    font-size: 0.9em;

                    &::after {
                        content: ':'
                    }

                    &.indent {

                        &::before {
                            padding: 0 0.2em;
                            content: '●';
                            opacity: 0.8;
                        }
                    }
                }

                value {
                    flex: 1 1 0;
                    font-variant-numeric: tabular-nums;
                    word-break: break-word;
                }
            }
        }
    }

    .chart-holder {
        flex: 0 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 0.5em;

        &:not(:last-child) {
            border-bottom: 1px solid #aaa6;
        }

        &:hover {
            background-color: #0003;
        }

        .chart {
            padding: 0;
            margin: 0;
            height: 100px;

            &.line {
                flex: 1 1 0;
                min-width: 300px;
            }

            &.gauge {
                font-size: 0.4em;
                flex: 0 0 200px;
            }
        }
    }
}
