@use 'color';
@use 'charts';

html {
    &.solid-background {
        background: var(--background-color);

        body {
            background: transparent !important;
        }
    }

    &.horizontal {
        font-size: clamp(2.2mm, 15vh, 18mm);

        .single-data-field {
            font-size: 1.8em;
        }

        .screen {
            flex-direction: row;
            align-items: stretch;
            flex: 1 1 0;
        }

        .screen-section {
            padding-left: 0.3rem;
            flex: 1 1 0;
            justify-content: center;
        }

        .page-title {
            font-size: 5em;
        }
    }

    &:not(.horizontal) {
        [data-base-section-type="data-fields"] + [data-base-section-type="data-fields"] {
            border-top: 0.002em solid #fff5;
        }

        .screen-section {
            padding-top: 0.3rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.screen-section.line-chart {
    padding-top: 0.5rem !important; // clearance for labels which overflow
    outline-style: none;
    @include charts.legend(".s-chart-legend");

    .s-chart-legend {
        background: color.shade(fg, 100%, 0.7);
        font-size: 0.75rem;
        transition: opacity 400ms;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        .s-legend-item {
            font-size: 0.8em;
        }
    }

    &:focus .s-chart-legend {
        opacity: 1;
        pointer-events: initial;
    }
}

.ec-tooltip {
    font: unset !important;
    font-variant-numeric: tabular-nums !important;
    font-size: 0.8em !important;
    box-shadow: 1px 1px 5px 0 #0006 !important;

    * {
        font-size: 1em !important;
    }

    // XXX rewrite the echarts tooltip, this is a hack
    div {
        //display: flex !important;
        //align-items: center;

        // Begin horrible CSS hack.
        // Echarts doesn't put classes on any of their spagetti old school tooltip html. :(
        // Two items: key above \n (dot, value)
        span:first-of-type:nth-last-of-type(2) {
            // dot...
            width: 0.7em !important;
            height: 0.7em !important;
            border-radius: 50% !important;

            ~ span:nth-of-type(2) { // value
                margin-left: 0.4em !important;
                font-weight: 600 !important;
            }
        }

        // Three items: dot, key value
        span:first-of-type:nth-last-of-type(3) {
            // dot...
            width: 0.7em !important;
            height: 0.7em !important;
            border-radius: 50% !important;

            ~ span:nth-of-type(2) { // key
                font-weight: 400 !important;

                &::after {
                    content: ':';
                }
            }

            ~ span:nth-of-type(3) { // value
                margin-left: 0.4em !important;
                font-weight: 600 !important;
            }
        }
    }
}

#content {
    overflow-y: overlay;

    > .screen {
        &.hidden {
            display: none;
        }
    }
}

@keyframes fadeout {
    from {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.screen {
    display: flex;
    flex-direction: column;

    .page-title {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 10em;
        pointer-events: none;
        animation: fadeout 1.5s forwards;
        color: #fff;
        mix-blend-mode: overlay;
        font-weight: 700;
    }

    .no-sections {
        padding: 1em;
        text-align: center;
        font-weight: bold;
        opacity: 0.5;
    }
}

@container zone (width < 2em) {
    span {
        display: none;
    }
}

@container zone (width < 8ch) {
    .extra {
        display: none;
    }
}

.screen-section {
    display: flex;
    flex-direction: column;
    margin: 0.2rem 0.5rem;
    position: relative;

    &.large-data-fields,
    &.data-fields {
        &::before {
            content: '';
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: var(--background-image);
            background-repeat: no-repeat;
            background-position: center center;
            background-origin: border-box;
            background-size: auto 80%;
            mix-blend-mode: soft-light;
            opacity: 0.6;
        }
    }

    &.large-data-fields {
        font-size: 1.7em;
    }

    &.data-fields,
    &.split-data-fields {
        font-size: 1.3em;
    }

    &.columns {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .chart-holder {
        font-size: 0.7rem;
        height: 6em;

        > div {
            overflow: visible !important;

            svg {
                overflow: visible;
            }
        }
    }

    &.time-in-zones {
        border: none;
        margin-left: 0;
        margin-right: 0;
    }

    .zones-holder {
        &.vert-bars {
            height: 7em;
            font-size: 0.7rem;
            margin-left: 0.2rem; // the left labels are always padded a bit
            margin-right: 0.4rem;
        }

        &.pie {
            padding: 0 1em;
            margin: -1em 0;
            width: 100%;
            aspect-ratio: 1 / 1;
            font-size: 0.7rem;
            align-items: center;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

        &.horiz-bar {
            font-size: 0.7rem;
            display: flex;
            margin-left: 0.4rem;
            margin-right: 0.4rem;
            border-radius: 0.28em;
            overflow: hidden;

            .zone {
                container: zone / inline-size;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.8em;
                color: color.shade(zone-color, 100%, 0.8);
                overflow: hidden;
                transition: flex 200ms;
                flex: 1 1 0;
                height: 2.6em;
                background-image: linear-gradient(135deg,
                    color.get(zone-color),
                    color.get(zone-color, 0.6));

                span.label {
                    font-weight: 600;
                    overflow: hidden;
                }

                span.extra {
                    padding-left: 0.3em;
                    font-weight: 300;
                    font-size: 0.9em;
                    font-variant-numeric: tabular-nums;

                    &::before {
                        content: '| ';
                    }
                }
            }
        }
    }

    .sub {
        font-size: 0.6em;
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: baseline;
        position: relative;
    }

    heading {
        font-size: 0.7rem;
        font-weight: 500;
        line-height: 1.1;
        display: block;
        font-variant: all-small-caps;
        grid-column: 1 / 4;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;;
    }

    [data-field].full-height {
        position: relative;
        font-size: 2em;
        font-weight: 800;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .line {
            display: flex;
            align-items: baseline;
        }

        .label,
        .unit,
        .sub-label {
            font-size: 0.55rem;
            line-height: 1;
            margin-right: 0.3rem;
            opacity: 0.82;
            text-align: right;
            font-variant-numeric: tabular-nums;

            &:empty {
                margin: 0;
            }
        }

        .sub-label:not(:empty) {
            font-size: 0.48rem;
            opacity: 0.8;
            margin-top: 0.32rem;
            line-height: 0.2;
        }

        .value {
            line-height: 0.9;
        }

        small {
            font-size: 0.5em;
            text-align: right;
        }
    }

    &.single-data-field {
        font-size: 3em;

        [data-field] {
            align-items: center;

            .value {
                min-width: initial;
            }
        }
    }

    .field-row {
        display: contents;
    }
}

.screen.configuring {
    .screen-section {
        transition: opacity 200ms;

        .button-mask {
            position: absolute;
            font-size: 0.8rem;
            left: -6px;
            top: -2px;
            height: calc(100% + 4px);
            width: calc(100% + 10px + 3rem);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-radius: 0.25em;
            padding: 0.35em;
            background-color: #495ce863;
            overflow: hidden;
            transition: opacity 200ms, visibility 200ms;
            transition-delay: 200ms;
            opacity: 0;
            visibility: hidden;

            .button-group {
                flex: 0 0 auto;
            }
        }

        img.example {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &:hover,
        &:focus {
            .button-mask {
                visibility: visible;
                opacity: 1;
                transition-delay: 0s;
            }
        }

        [data-field] {
            .unit::before {
                content: '*';
            }
            .value {
                text-align: right;
            }
            .value::after {
                content: none;
            }
        }
        [data-field]:nth-child(even) {
            .key::before {
                content: 'Lorem';
            }
            .value::before {
                content: '111';
            }
            .label::before {
                content: 'actūs';
            }
        }
        [data-field]:nth-child(odd) {
            .key::before {
                content: 'Ipsum';
            }
            .value::before {
                content: '999';
            }
            .label::before {
                content: 'pēs';
            }
        }
    }

    dialog.edit {
        input, select {
            margin-left: 0.3em;
        }
    }
}

.field-row .key {
    font-size: 0.60rem;
    margin-right: 0.3em;
    opacity: 0.88;
    position: relative;
    margin-bottom: 0.33em;
    min-width: 8ex;

    &::after {
        content: ':';
        opacity: 0.86;
    }

    tiny {
        display: block;
        white-space: nowrap;
        font-size: 0.76em;
        position: absolute;
        left: 0.1em;
        bottom: -0.90em;
        font-variant: all-petite-caps;
        font-weight: 600;
    }
}

.value {
    font-variant: tabular-nums;
    text-align: right;
    min-width: 3ch;

    &:empty {
        &::after {
            content: '-';
        }
    }

    &.x-wide { font-variation-settings: "wdth" 96; }
    &.x2-wide { font-variation-settings: "wdth" 92; }
    &.x3-wide { font-variation-settings: "wdth" 86; }
    &.x4-wide { font-variation-settings: "wdth" 78; }
    &.x5-wide { font-variation-settings: "wdth" 70; }
}

.full-height .value {
    &.x-wide { font-size: 0.96em; }
    &.x2-wide { font-size: 0.90em; }
    &.x3-wide { font-size: 0.82em; }
    &.x3-wide { font-size: 0.72em; }
    &.x4-wide { font-size: 0.62em; }
    &.x5-wide { font-size: 0.50em; }
}


abbr.unit {
    margin-left: 0.2em;
    font-size: 0.55em;
    opacity: 0.82;
}

.button-bar .button.reset img {
    height: 0.9em !important;
    margin: 0.15em 0;
}

html:not(.always-show-buttons) .button-bar.fixed {
    display: none;
}
html.always-show-buttons #titlebar .button-bar {
    display: none;
}

.settings-page {
    .section {
        header {
            display: flex;
            font-size: 1.1em;
        }

        .button-group {
            border-radius: 0.26em;
            overflow: hidden;
            display: flex;
            flex-grow: 1;
            background-image: linear-gradient(to bottom, #0003, #0006);

            &.vertical {
                flex-direction: column;
            }

            .button {
                padding: 0.5em 0.8em;
                display: flex;
                flex-grow: 1;
                align-items: center;
                justify-content: center;

                &.disabled {
                    pointer-events: none;
                    opacity: 0.2;
                }

                &:hover {
                    background-color: #0006;
                }

                img {
                    height: 1em;

                    &.fa {
                        filter: invert(1);
                    }
                }
            }
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;

            .active-screen {
                padding: 1em 3rem 0.5em;

                > .screen {
                    position: relative;
                    width: 100%;
                    border: 2px solid #7777;
                    border-radius: 1em;
                    aspect-ratio: 10 / 9;
                    background: #333;
                    color: white;
                    box-shadow: 1px 1px 8px 1px #0007;

                    &.configuring {
                        width: 14em;
                    }
                }
            }

            > label {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                font-size: 0.8rem;

                key {
                    font-variant: all-small-caps;
                    width: 100%;
                    text-align: center;
                }

                input[type="button"] {
                    padding-left: 1em;
                    padding-right: 1em;
                }
            }
        }
    }
}
