$size: 12vw;
$sauce-width: $size * 2.76;
$for-width: $size * 1.24;
$zwift-width: $size * 2.18;

html {
    pointer-events: none;
    transition: opacity 2s;
}

body {
    background: none !important;
}

svg {
    opacity: 0;
    transition: opacity 2s;
    width: 100%;
    height: 100%;
    font-family: 'Saira';

    text {
        stroke-linejoin: round;
        stroke-linecap: round;
        fill-opacity: 0;
        stroke: white;
        font-weight: 700;
        fill: url(#sauce);
        transition: transform 9s, stroke-dashoffset 15s, fill-opacity 6s 6s, stroke 4s 10s;
        transition-timing-function: ease-in-out;
        width: 100%;
        height: 100%;
        font-size: $size;
        stroke-width: calc($size * 0.02);
        stroke-dasharray: calc($size * 4); // sized to font and letters
        stroke-dashoffset: calc($size * 4); // ^^^

        &:nth-child(1) {
            transform: translate(40%, 50%) scale(5) rotate3d(10, 100, 10, 340deg);
        }
        &:nth-child(2) {
            transform: translate(0%, 0%) scale(5) rotate3d(100, 100, 100, 200deg);
        }
        &:nth-child(3) {
            transform: translate(50%, 10%) scale(5) rotate3d(10, 10, 100, -200deg);
        }

        &.tm {
            transition: opacity 4s 8s;
            opacity: 0;
            stroke-width: 0;
            font-variant: all-small-caps;
            font-size: calc($size * 0.4);
            vertical-align: super;
            fill: url(#sauce);
            transform: translate(calc(50% + $zwift-width + ($for-width / 2) + 1ch), calc(50% + $size / 4));
        }
    }
}

.animate {
    svg {
        opacity: 1;

        text {
            fill-opacity: 1;
            stroke-dashoffset: 0;
            stroke: transparent;

            &:nth-child(1) {
                transform: translate(calc(50% - $sauce-width - ($for-width / 2) - 0.5ch), calc(50% + $size / 4));
            }
            &:nth-child(2) {
                transform: translate(calc(50% - $for-width / 2), calc(50% + $size / 4));
            }
            &:nth-child(3) {
                transform: translate(calc(50% + ($for-width / 2) + 0.5ch), calc(50% + $size / 4));
            }

            &.tm {
                opacity: 1;
            }
        }
    }

    footer, header {
        opacity: 1;
    }
}

.fadeout {
    opacity: 0;
}

footer, header {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3vh;
    opacity: 0;
    transition: opacity 2s 8s;
    text-shadow:
        0 0 1px black,
        0 0 1px black,
        0 0 1px black,
        0 0 1px black,
        0 0 1px black;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}
