@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    box-sizing: border-box;
    user-select: none;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
}

html:not(:hover) ::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
::-webkit-scrollbar-track {
    margin: 0.22rem;
    border-radius: 1rem;
    background-color: #1114;
}
::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #eeec;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #eee;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 7vw;
    overflow: hidden;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    padding: 3px; /* Required in windows to allow resize handles */
    background-color: rgba(127, 127, 127, 0.002); /* Using full transparency breaks on windows */
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ff5e0080;
    color: white;
    font-family: 'Jost', sans-serif;
    border-radius: 0.5rem;
}
body.transparent-bg {
    transition: background 200ms;
}
html:not(.active) #titlebar,
html.active #hintbar,
html:not(:hover) #hintbar {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}
html:not(:hover):not(.active) body.transparent-bg {
    background: transparent;
}

#titlebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-image: linear-gradient(to top, #222, #333e 0.2rem, #333);
    color: white;
    overflow: hidden;
    padding: 0.5em;
    max-height: 3rem;
    transition: max-height 200ms, padding 200ms;
    display: flex;
    align-items: center;
}
html.options #titlebar {
    position: relative;
}

#titlebar .button.move {
    -webkit-app-region: drag;
    padding: 0 0.4em 0 0;
}

#titlebar header {
    -webkit-app-region: drag;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#titlebar .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 auto;
}

#titlebar .button {
    padding-left: 0.4em;
}

#titlebar .button img {
    height: 0.85em;
    filter: invert(1);
    opacity: 0.8;
    transition: opacity 200ms;
    cursor: pointer;
}
#titlebar .button img:hover {
    opacity: 1;
}
#titlebar .button img:active {
    filter: invert(0.5);
}

#hintbar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-image: linear-gradient(to top, #2228, #3338 0.2rem, #3338);
    color: white;
    overflow: hidden;
    padding: 0.35em;
    font-size: 0.68em;
    max-height: 1.5em;
    transition: max-height 200ms, padding 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
