html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 7vw;
    overflow: hidden;
    -webkit-app-region: drag;  /* Make entire window draggable */
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #ff5e0080;
    color: white;
    font-family: sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
}
